@mobileBreakpoint:767px;

/******
 CSS VARIABLES
****** */ 

:root {
  --neutral-black: #1C1D1E;
  --neutral-white: #FFFFFF;
  --neutral-lightgrey: #EEF0F2; 
  --neutral-darkgrey: #A6A6A6;
  --clinical-purple: #A37AF5; 
  --strategy-lightblue: #5BCFFF;
  --regulatory-mintgreen: #49DAB0;
  --ip-darkblue: #3A6DF5;
  --health-economics-brightpink: #FF9FF2;
  --timelinetitleleft: -28px;
}

// we have a variable for each color / service. 
.strategy{
  --current-service-color: var(--strategy-lightblue);
}

.clinical{
  --current-service-color: var(--clinical-purple);
}

.regulatory{
  --current-service-color: var(--regulatory-mintgreen);
}

.intellectual-property{
  --current-service-color: var(--ip-darkblue);
}

.health-economics{
  --current-service-color: var(--health-economics-brightpink);
}





/* *****
 SERVICES DROPDOWN COLOR BOXES
****** */ 

.header-nav-folder-item{
  position:relative;
//background: #f2f2f275;
}


//Header - MENU - FOLDER - COLOR LABEL BOXES

/*.header-nav-folder-item:before {
  transition: .3s all ease;
   content: "";
    position: absolute;
    width: 5px;
    height: 38.5px;
    left: 0px;
    top: 1px;
}
*/


.header-menu-nav-folder[data-folder="/services"] .header-menu-nav-item a{ 
  font-size:24px;
  .header-menu-nav-item-content{
 // background:red;
  position:relative;
  &:before{
    border-radius: 50%;
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    left: -20px;
    top: 7px;
  }
  }
  
  &[href*="clinical"] > div:before{
    background:var(--clinical-purple);
  }
  
  &[href*="strategy"] > div:before{
    background:var(--strategy-lightblue);
  }
  &[href*="regulatory"] > div:before{
    background:var(--regulatory-mintgreen);
  }
  &[href*="intellectual"] > div:before{
    background:var(--ip-darkblue);
  }
  &[href*="health"] > div:before{
    background:var(--health-economics-brightpink);
  }
}

//Header - MENU - FOLDER - COLOR LABEL CIRCLEES
.header-nav-folder-item:before {
    border-radius: 50%;
    transition: .3s all ease;
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    left: 7px;
    top: 17px;
}

.header-nav-folder-item:hover:before{
  width: 10px;
  height:10px;
}





.header-nav-folder-item:nth-child(1):before {
    background: var(--clinical-purple) !important;
}

.header-nav-folder-item:nth-child(2):before {
    background: var(--strategy-lightblue) !important;
}

.header-nav-folder-item:nth-child(3):before {
    background: var(--regulatory-mintgreen) !important;
}

.header-nav-folder-item:nth-child(4):before {
    background: var(--ip-darkblue) !important;
}

.header-nav-folder-item:nth-child(5):before {
    background: var(--health-economics-brightpink) !important;
}

// SERVICES DROPDOWN COLOR BOXES TESTING 🟣🔴


// NAV - FOLDER - ACTIVE ITEM - remove ugly underlines that dont work with spans
body:not(.header--menu-open) .header-nav-folder-item--active .header-nav-folder-item-content{
  background-size:0px !important;
}


.header-nav-folder-item{
  a span{
    transition:.3s all ease;
  }
  &:hover{
    a span{
      margin-left:18px;
    }
  }
}

// MENU - FOLDER - LINK PADDING
.header-nav-folder-item a span {
    padding: 10px 10px;
    display: block;
    margin-left: 12px;
  &:hover{
    //background: @lightGrey;
  }
}










//🔵🔴🟣 COLORS

//Neutrals
@black: #1C1D1E;
@white: #FFFFFF;
@lightGrey: #EEF0F2; 
@darkGrey: #A6A6A6;

//Brand Colors
//var(--clinical-purple):#A37AF5; 
//var(--strategy-lightblue): #5BCFFF;
//var(--regulatory-mintgreen):#49DAB0;
//var(--ip-darkblue):#3A6DF5;
//var(--health-economics-brightpink): #FF9FF2;


//NAV Hover underlines
.header-nav-item:not(.header-nav-item--folder):hover a/*, 
.header-nav-item--folder .header-nav-folder-item:hover a*/ {
  .active-nav-item-underline();
}



//FOLDER CHEVRON 🧡

.header-nav-folder-title{
  margin-right:13px;
}
.header-nav-folder-title:after{
  content:"moi";
   content: '';
            background: url('https://static1.squarespace.com/static/62f5262a0b58c94a255a69ba/t/63020679c9719d4bab261bf5/1661077114176/chevron+down.png') no-repeat center center;
         position: absolute;
    top: 8.6px;
    right: -3.4px;
    width: 12px;
    height: 15px;
    background-size: contain;
}

//FOLDER CHEVRON 🧡











// FOLDER BACKGROUND + ARROW 💘

.header-nav-folder-content:before {
            content: '';
           // background: url('https://images.squarespace-cdn.com/content/v1/62f5262a0b58c94a255a69ba/93982032-8336-4d53-bad2-cca020becd82/pyramid+real+grey%23EEF0F2.png?format=750w') no-repeat center center;
            position: absolute;
           top: -7px;
    left: 33px;
            width: 20px;
            height: 20px;
  background-size:contain;
//            z-index: -1;
        }
// FOLDER ARROW 💘
      






/*
.header-nav-item a{
  padding: 15px 2px !important;
}

// ACTIVE NAV ITEM TEST
.header-nav-item--active a {
    background: #A37AF5;
    color: white !important;
    text-decoration: none !important;
   
    background-image: none !important;
   
    border-radius: 6px;
}
*/





// Emphasis like style guide page 17 carousel mockups
//div:not("article") h1, h2, h3, h4{
 /*h1, h2, h3, h4{
  strong{
    font-weight: inherit !important;
    font-style:normal !important;
    display:inline-block;
    background: #A37AF5;
    padding:20px;
    color: #FFF; 
    border-radius:20px;
    text-transform:none;
  }
}
*/

// button gradient test https://cssgradient.io/
/*
.sqs-block-button-element--medium{
  background: rgb(163,122,245);
background: linear-gradient(22deg, rgba(163,122,245,1) 0%, rgba(91,207,255,1) 100%);  
}
*/







/*


//😎😎😎 BLOG POST WIDTHS */

//remove 75%. We don't want percentages as they mess shit up
@media screen and (min-width: 768px){
.tweak-blog-item-width-medium .blog-item-wrapper .blog-item-inner-wrapper {
    //width: 100% !important;
 // outline: 1px solid black;
}
}

//restrict page content max width + center. title can be as wide as it wants.
.blog-item-content-wrapper{
  .blog-item-author-profile-wrapper{
    order:1;
  }
  .custom-metabox{
    order:2;
    margin-bottom:30px;
  }
  .blog-item-content{
    order:3;
  }
  .blog-meta-item.blog-meta-item--tags{
    order:4;
  }
  
 max-width:550px !important;
  margin: auto;
  //flex-reversing here will switch author-bio and blog post content 🎉
    display: flex;
   // flex-direction: column-reverse;
  flex-direction: column;
  
  //SINGLE BLOG POST ORDER OF ELEMENTS
  
/*  
p {
   max-width:550px !important;
  margin: auto;

}  */

  //outline: 1px solid red;
}



.item-pagination-link {
  //align-items: flex-start; // blog post pagination to same horizontal level (if one is 1 line, second 2 lines they'd look funky)
  align-items: center;
  max-width: 380px; // fixed the problem above with this
}
//😎😎😎 BLOG POST WIDTHS */





//BLOG - META - CATEGORIES
.blog-basic-grid .blog-categories-list a{
 // font-weight:600;
  //color:var(--clinical-purple) !important; 
}

// BLOG - GRID - META - color coding blog post categories
.blog-basic-grid .blog-categories-list a[href*="Blog"]{
 // color: green !important;
}

//BLOG - BOTTOM PAGINATION - OLDER AND NEWER LINKS
.blog-list-pagination{
  font-weight:600 !important;
}


//🎉🎉🎉 blog read more + arrow
// actually a general read more link for homepage services as well
.tweak-blog-basic-grid-text-alignment-left .blog-basic-grid .blog-basic-grid--container .blog-more-link,

section[data-section-id="62f528d73cd06779e8eb3ee9"] p >   a[href*="regulatory"],

section[data-section-id="62f528d73cd06779e8eb3ee9"] p >   a[href*="intellectual"],

section[data-section-id="62f528d73cd06779e8eb3ee9"] p >   a[href*="strategy"],

section[data-section-id="62f528d73cd06779e8eb3ee9"] p >   a[href*="economics"],

section[data-section-id="62f528d73cd06779e8eb3ee9"] p >   a[href*="cli"],

//WITH ICONS
section[data-section-id="630906727a98a14798f4b3f4"] p >   a[href*="regulatory"],

section[data-section-id="630906727a98a14798f4b3f4"] p >   a[href*="intellectual"],

section[data-section-id="630906727a98a14798f4b3f4"] p >   a[href*="strategy"],

section[data-section-id="630906727a98a14798f4b3f4"] p >   a[href*="economics"],

section[data-section-id="630906727a98a14798f4b3f4"] p >   a[href*="cli"],

 a.summary-read-more-link{
text-decoration: none !important;
  transition:.3s all ease;
  position:relative;
  left:0;
  &:hover{
    left:2px;
    &:after{left:5px;}
  }
//  color:var(--ip-darkblue);
//  color: var(--clinical-purple);
  font-weight:600;
  text-transform:uppercase !important;
  font-size:11px !important;
  letter-spacing:0.05em;
  &:after{
 transition:.3s all ease;
  content: " →";
  display: inline;
  background: none;
  position: relative;
  top: -0.3px;

  left: 3px;

  }
}

// HELPER - REMIND ABOUT CUSTOM STYLES SO ADMIN WILL KNOW. WON'T DUPLCIATE PAGE TO LOSE THEM. WON'T BE CONFUSED IF CAN'T EDIT EVERYTHING
.custom-styles-applied{
  .sqs-is-page-editing &{
    &:before{
    content: "ADMIN! THIS SECTION has custom CSS styling applied. ";
    opacity: 1.0;
  transition: .5s all ease;
    background: #ffc3c3;
    color: black;
    padding: 2px 6px;
    font-size: 9px;
    top: 17px !important;
    margin: 0;
    position: absolute;
    text-transform: uppercase;
    font-weight: 400;
    height: 20px;
    z-index: 99999999;
  }
    
  }
}



//Homepage summary-blog has arrow in content but not <span>... Annoying.
.summary-read-more-link:after{
  display:none !important;
}

//🎉🎉🎉 blog read more + arrow




//🤯🤯🤯🤯 header spacings responsive TODO CALCULATE MATH. NOW EYEBALLED TO CENTER


.header-layout-nav-center .header-title {
  //logo sizing. manual in PX becaue otherwise it will scale as %, and changes size depending on screen size. we wanna have it be specific  
  
  @media (min-width:1023px){
  .header-title-logo img {
    width:120px !important;
    }
  }
  
//    width: 33%;
//      width:10px;;
//    flex: 1 1 33%;
  flex: 1 1 20%;
  //outline:2px solid purple;
}
.header-title-nav-wrapper{
//  flex: 1 0 67%;
  flex: 1 0 80%;
   // outline:1px solid red;
}

.header-layout-nav-center .header-nav {
    width: 34%;
    flex: 1 1 100%;
  //outline:1px solid black;
}

.header-layout-nav-center .header-actions {
    width: 14%;
    //outline:1px solid black;
}


//🤯🤯🤯🤯 header spacings responsive TODO CALCULATE MATH. NOW EYEBALLED TO CENTER

//HEADER - LOGO - ADJUST LOGO SIZE ON DESKTOP ❗ don't touch. this affects other things and must be re-edited

@media only screen and (min-width:600px){
.header-title-logo img {
    transform: scale(1.2);
    transform-origin: left center !important;
}
}
@media only screen and (min-width:1023px){
  .header-title-logo img {
    transform: scale(1.8);
}
}



/******
🏷️ LOGO GRID
*******/

// logo grid embed has unnecessary white on white heading in different style than SQSP. Hide. 
.eapp-logo-showcase-header-component{
  display:none !important;
}


/******
🏷️ HOMEPAGE BLOG SUMMARY
*******/



//homepage summary for blogs - read more
/*
a.summary-read-more-link{
  color: var(--clinical-purple) !important;
  //text-transform:uppercase;
  font-size:13px !important;
  font-weight:500;
}
*/



/******
🏷️ BLOG
*******/

//blog page - grid - HEADING && HOMEPAGE - BLOG SECTION SUMMARY BLOCK HEADING
.blog-basic-grid .blog-title, .summary-title {
    line-height: 1.31 !important;
    font-size:22px;
  
  //MAYBE?
  a:hover{
    box-shadow:inset 0 -1px 0 0 #fff, inset 0 -2px 0 0 var(--clinical-purple);
    @media screen and (min-width:1100px){
     box-shadow: inset 0 -3px 0 0 #fff, inset 0 -4px 0 0 var(--clinical-purple);
  }
  }
    //MAYBE?
  
  
  
}

// built-in author bio
.blog-item-author-profile-wrapper{
  //STYLE 1
 // padding: 10px 20px !important;
   //background: @lightGrey;
  
  //STYLE 2
  padding:0 0 0px 0 !important;


  
    border-radius: 12px;
  flex-direction:row !important;
  justify-content: left !important; 
  .author-name{
    display:none;
  }
  a{
   // margin-right:30px !important;
  
  //smart avatars - if there IS an image, we'll add space to text to make it pretty. If not, this element is not loaded and text is beautifully left-aligned.
    span.author-avatar{
      display: block !important;
    margin: 0 30px 0 0 !important;
    }
  }
  .author-bio{
    margin:0 !important;
   font-weight:500;
    font-size:14px;
//font-size: ~"calc((1 - 1) * 1.2vw + 1rem)" !important;
    text-align:left !important;
  }
}

//space around author-bio box
.blog-item-wrapper .blog-item-author-profile-wrapper{
  margin: 0 0 4vh;
}

//BLOG - SINGLE - H1 line height
.blog-item-title h1.entry-title.entry-title--large.p-name {
    line-height: 1.2;
}

// HEADER – SOME ICONS - HOVERS

//ALL (or both)
a.icon.icon--fill:hover svg{
   //fill:orange !important;
}
//Linkedin
a[href*="linkedin"]:hover svg{
  fill:var(--clinical-purple) !important;
}

//Twitter
a[href*="twitter"]:hover svg{
  fill:var(--clinical-purple) !important;
}





/******
🏷️ HOMEPAGE SERVICES SECTION
*******/






// TEAM PAGE - CENTERING TEAM BIOS ALL AT ONCE.
section[data-section-id="62f53ab95bbb9c52dc59906f"]{
  .sqs-block-content{
    text-align:center !important;
  }
}



/*
🐠🐠🐠🐠🐠
🐠🐠🐠🐠🐠

CODE + TONIC ANIMATED HEADING #1 
CSS

🐠🐠🐠🐠🐠
🐠🐠🐠🐠🐠

*/



//hide strikethrough from visitors
h1, h2, h3, h4{
span[style*="text-decoration:line-through"]{
  display:none;
}
  }

body.sqs-edit-mode-active.sqs-layout-editing.sqs-edit-mode {
  h1, h2, h3, h4{
   span[style*="text-decoration:line-through"]{
     display:block;
    &:before{
     content: "(This strikethrough text will be animated. )";
    position: absolute;
    top: -9px;
    left: 33%;
    font-size: 19px;
    background: #ffbba3;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 4px;
    }
  }
  }
}


//if centered, we'll need to position the extra lines with translate and left
 .codetonic-textanimation-one[style*="center"] .container .word{
//                background:red;
                   left: 50%;
   transform: translate(-50%, -10%);
}


.codetonic-textanimation-one {
        margin: 0;
    //   letter-spacing: -.15rem;
  //      font-size: 3rem;
//       font-weight: 900;
        .container{
            margin: 1rem;
            position: relative;
            .word{


                text-rendering: optimizeLegibility!important;
                white-space: pre;
               // left: 50%;
                //transform: translate(-50%, -10%);
                opacity: 0;
                display: block;
                top: 0;
                position: absolute;
            }
        }

.letter {      
    text-rendering: optimizeLegibility!important;
    display: inline-block;
    position: relative;
    transform: translateZ(25px);
    transform-origin: 50% 50% 25px;
  &.out{
      transform: rotateX(90deg);
    //was 0.32s
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  &.in {
    transform: rotateX(0deg);
     //was 0.32s
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  &.behind {
    transform: rotateX(-90deg);
  }
  }
  
 } //..codetonic-textanimation-one

/*
🐠🐠🐠🐠🐠
🐠🐠🐠🐠🐠

CODE + TONIC ANIMATED HEADING #1 
CSS

🐠🐠🐠🐠🐠
🐠🐠🐠🐠🐠

*/



// HOMEPAGE SERVICES SLIDE VER 2 - TESTING ICONS  26 AUG
section[data-section-id="630906727a98a14798f4b3f4"] .sqs-block-image .design-layout-fluid img{
  width: 80% !important;
  margin-left: 10%;
  

/*
  @black: #1C1D1E;
@white: #FFFFFF;
@lightGrey: #EEF0F2; 
@darkGrey: #A6A6A6;

//Brand Colors
var(--clinical-purple):#A37AF5; 
var(--strategy-lightblue): #5BCFFF;
var(--regulatory-mintgreen):#49DAB0;
var(--ip-darkblue):#3A6DF5;
var(--health-economics-brightpink): #FF9FF2;
  */
  //https://codepen.io/sosuke/pen/Pjoqqp
//filter: ~"invert(55%) sepia(51%) saturate(4343%) hue-rotate(226deg) brightness(106%) contrast(92%)";
  //filter: ~"invert(77%) sepia(35%) saturate(3485%) hue-rotate(172deg) brightness(104%) contrast(102%)";
//  filter: ~"invert(78%) sepia(58%) saturate(432%) hue-rotate(102deg) brightness(87%) contrast(95%)";
  
  
}

//HOME - SERVICES - ICONS - BRAND COLORS TEST
//clinical
#block-yui_3_17_2_1_1661536994504_107859{
  
    filter: ~"invert(55%) sepia(51%) saturate(4343%) hue-rotate(226deg) brightness(106%) contrast(92%)" !important;
  
}

//Strategy
#block-yui_3_17_2_1_1661504512609_911651{
  filter: ~"invert(77%) sepia(35%) saturate(3485%) hue-rotate(172deg) brightness(104%) contrast(102%)"
}

#block-yui_3_17_2_1_1661536994504_24312{
  filter: ~"invert(78%) sepia(58%) saturate(432%) hue-rotate(102deg) brightness(87%) contrast(95%)";
}

#block-yui_3_17_2_1_1661504512609_1016720{
  filter: ~"invert(39%) sepia(50%) saturate(2788%) hue-rotate(211deg) brightness(92%) contrast(110%)";
}

#block-yui_3_17_2_1_1661504512609_1087339{
 filter: ~"invert(96%) sepia(51%) saturate(3731%) hue-rotate(273deg) brightness(97%) contrast(108%)";
}



// ☕☕☕REUSABLE heading + Lead combo. Better responsive styling, no tablet size 1 extra word on a last row, more control, nicer resizing, less work to add them, no need to remember "how many columns was this" or make 2 blocks. Better vertical scaling.
h2 + p.sqsrte-large,
h1 + p.sqsrte-large{
  max-width:560px;
  margin:auto;
  margin-top:-23px !important;
//   max-width:690px;
    margin-left:auto;
    margin-right:auto;
//    font-size: 21px !important;

  //.custom-styles-applied();
}

//HOMEPAGE SERVICES BOXES and service sub pages. 
h4 + p, h3 + p{
  margin-top:-26px !important;
}

//open sans seems to work better this wway
p{
  letter-spacing: -0.01em;
}

//P3 typography
.sqsrte-large{
      line-height:1.50 !important;
}

h2{
  line-height:1.15 !important;
}

//HOMEPAGE LAST SLIDE ANIMATION COLOR 



//testing with some fine, paid fonts
*{
 // font-family:"neue montreal" !important;
 //  font-family:"Suisse Int'l Trial" !important;
  
  
  
}



// HOME - SERCVICES VER 1 - no ICONS, COLOR CIRCLES color coding service headings 
section[data-section-id="630906727a98a14798f4b3f4"]{
.sqs-block-content{
//  text-align:center;
}
h4{
//  display:inline-block;
  position:relative;
  }
}
/*
section[data-section-id="630906727a98a14798f4b3f4"] h4{

  &:hover:before{
    width:20px;
    height:20px !important;
    top: 6px !important;
    left:-25px;
  }
  &:before {
    transition:0.5s all ease;
    content:"";
    position:absolute;
    left:-20px;
    top:12px;
    width:10px;
    height:10px;
    background:purple;
    border-radius:50%;
  
}
}


//regulatory 
#block-yui_3_17_2_1_1660233301342_179110 h4:before{
  background:var(--clinical-purple);
}

//clinical
#block-yui_3_17_2_1_1660233301342_153163 h4:before{
  background:var(--strategy-lightblue);
}

//IP
#block-yui_3_17_2_1_1660233301342_220277 h4:before{
  background:var(--regulatory-mintgreen);
}

#block-a78ba45834402982aeb1 h4:before{
  background:var(--ip-darkblue);
}

#block-yui_3_17_2_1_1660233301342_249459  h4:before{
  background:var(--health-economics-brightpink);
}*/



section[data-section-id="630906727a98a14798f4b3f4"]{
  .custom-styles-applied();
  h4 a{
    display:inline-block;
    position:relative;
    text-decoration: none !important;   
    &:hover:before{
     transform:scale(1.5);
    }
    &:before {
    transition:0.5s all ease;
    content:"";
    position:absolute;
    left:-18px;
    top:7px;
    width:8px;
    height:8px;
    border-radius:50%;
    }
    &[href*="clinical"]:before{
       background:var(--clinical-purple) !important;
    }
    
     &[href*="strategy"]:before{
       background:var(--strategy-lightblue) !important;
    }
    
     &[href*="regulatory"]:before{
       background:var(--regulatory-mintgreen) !important;
    }
    
     &[href*="intellectual"]:before{
       background:var(--ip-darkblue) !important;
    }
    
     &[href*="health-economics"]:before{
       background:var(--health-economics-brightpink) !important;
    }
  }
}

span.word:nth-of-type(1) {
    color: var(--clinical-purple) !important;
}

span.word:nth-of-type(2) {
    color: var(--strategy-lightblue)  !important;
}

span.word:nth-of-type(3) {
    color: var(--regulatory-mintgreen) !important;
}

span.word:nth-of-type(4) {
    color: var(--ip-darkblue) !important;
}

span.word:nth-of-type(5) {
    color: var(--health-economics-brightpink) !important;
}


//BLOG LINKS  / summary read more links
article p a, .sqs-block-summary-v2 .summary-read-more-link, .blog-more-link{
  color:var(--clinical-purple) !important;
}



//blog - open application hide author
#item-630e84b25139f15acd7bab4c .blog-item-author-profile-wrapper{
  display:none;
  
}

//HERO ANIMATION responsive
@media only screen and (max-width:767px){
  section[data-section-id="63110aa129f035f05a07ea5f"] h1{
    font-size: 26px !important
  }
}


//CIRCLES TESTING 62304
section[data-section-id="63470e27c96c5945e6d186bb"]{ .section-background{
background-image: url(https://static1.squarespace.com/static/62f5262a0b58c94a255a69ba/t/63069d8616ecd437bb459966/1661377926454/single+circle+-+pink+blue+gradient.png),
url(https://static1.squarespace.com/static/62f5262a0b58c94a255a69ba/t/6306a10917e44f371c0c34c2/1661378825510/single+circle+-+green++blue+gradient.png);
  background-repeat: no-repeat, no-repeat;
  
// VER 2 SEP 1 16:52
   background-size:~"calc(22vw + 70px)" auto;
  background-position: 
   top ~"calc(10vh + 20px)" left ~"calc(-120px + -2vw)", 
   bottom ~"calc(10vh + 20px)" right  ~"calc(-120px + -2vw)" ;
  

  }
}


//CAREERS BLOG - hide "blog stuff" like author, next/prev links, dates
.careers-blog-single {
  .blog-item-meta-wrapper, 
.item-pagination,
.blog-item-author-profile-wrapper
{
    display:none !important; 
  }
}

.careers-blog-grid{
  .blog-meta-section{
    display:none;
  }
}

//  /careers -page
#collection-62f56477faacd1084a963b80{
.summary-metadata-container{
  display:none;
}
}

*{
 // background:red;
}



// BLOG - SINGLE - META on top - LINE HEIGHT
.tweak-blog-item-show-categories .blog-item-wrapper .blog-meta-item--categories * {
    //line-height: 1.6;
  //font-size:14px !important;
}


.blog-item-wrapper .blog-meta-item, .blog-item-wrapper .blog-meta-item a, .blog-item-wrapper .blog-meta-item span, .blog-item-wrapper .item-pagination-prev-next {
    font-size: 14px;
  }
// BLOG - SINGLE - META on top - LINE HEIGHT

// responsive browser has some underlines. not sure why crome does not?
.sqs-block-html h4 a,  .fe-630906727a98a14798f4b3f3 a {
    background-image: unset;
}

//BLOG - SINGLE -PAGINATION - FONT-SIZE, spacing and margins — (bad SQSP has overlapping text by default on iPhone SE e.g. https://www.hardianhealth.com/blog/niceesf)

@media screen and (min-width: 0) and (max-width: calc(1295px)) and (orientation: portrait){
[data-collection-type^="blog"] .item-pagination-title {
   // font-size: calc((2.2 - 1) * 1.2vh + 1rem);
    //font-size: 15.1px;
}
  }

@paginationChevronSpacing: 12px;
.item-pagination-link .item-pagination-icon{
  padding-right: @paginationChevronSpacing;
}
.item-pagination-link--next .item-pagination-icon{
  padding-left: @paginationChevronSpacing;
}
.item-pagination-link--next .item-pagination-title{
  padding-left: 10px;
}

.item-pagination-link--prev .item-pagination-title{
  padding-right: 10px;
}

// IF we wanna vertically center pagination chevrons
.item-pagination-link .item-pagination-icon {

  //  display: flex;
//    align-items: center !important;
}


//Space around blog pagination block. We wanna have a lit less space on left-right so text isn't that crammed
@media screen and (max-width: 767px){
  .item-pagination--prev-next {
    padding: 3vw 3vw 3vw;
  }
}



// Summary block – same font size as body copy "Careers - limit font sizes". 
.sqs-block-summary-v2 .summary-excerpt p, .sqs-block-summary-v2 .summary-excerpt ul, .sqs-block-summary-v2 .summary-excerpt li,

.summary-title a
{
  //font-size: ~"calc(1 * 1rem)" !important;

 // font-size: inherit !important; // doesn't work for .summary-title :/
 // line-height:inherit !important;
}

//❗ TODO - tie summary heading to h3 or h4 which should be body copy size, but bold.
//❗ todo - summary title font weight 600 or 700?


/**/



/******
🏷️ TYPOGRAPHY
*******/ 



//any heading with strong inside inherits font-weight from parent. Otherwise we'd have e.g. h3 900, but any strong 700. 
h1, h2, h3, h4{
  strong{
    font-weight: inherit !important;
  }
}


// ▶️ SUMMARY BLOCKS
// Summary blocks - normal body copy font size, line height + heading as same
.sqs-block-summary-v2 .summary-excerpt p, .sqs-block-summary-v2 .summary-excerpt ul, .sqs-block-summary-v2 .summary-excerpt li{
  font-size: ~"calc((1 - 1) * 1.2vw + 1rem)";
  line-height:inherit !important;
}

//summary block titles, blog page grid titles, blog GRID pagination, blog single pagination
.summary-title, .blog-title, .next-label, .item-pagination-title {
  margin-bottom:5px !important;
  font-weight: 700 !important;
 font-size: ~"calc((1 - 1) * 1.2vw + 1rem)" !important;
//  letter-spacing:-0.005em !important;
}




// META DATES BLOG GRID + SUMMARY BLOCK, SINGLE BLOG POST (date + categories), service sub-page "step 1/12" etc.
/*.blog-basic-grid .blog-categories, .blog-basic-grid .blog-author,*/ 
.ProductItem-next-prev-codeandtonic, .service-subpage-breadcrumbs, .automatic-sub-page-meta, .blog-basic-grid .blog-date, .summary-metadata-item--date, .blog-meta-item--date * /*, .blog-item-category*/{
  font-weight:600 !important;
  color: @black !important;
  font-size: 10.9px !important;
  text-transform: uppercase !important;
  letter-spacing: 0.11em !important;
  opacity:1 !important; //summary blocks wants to be greyed out. nice but not on brand color palette atm
 }


//HOME SERVICES TITLES
section[data-section-id="630906727a98a14798f4b3f4"] h4{
  font-size: ~"calc((1 - 1) * 1.2vw + 1rem)" !important;
}


///WIP SCALABLE SIMPLE GUIDE

.heading-h1{
  font-size:20px !important; 
  @media (min-width:@mobileBreakpoint){
    font-size:40px !important;
  }
}

.heading-h2{
  font-size:20px !important; 
  @media (min-width:@mobileBreakpoint){
    font-size:40px !important;
  }
}

.heading-h3{
  font-size:20px !important; 
  @media (min-width:@mobileBreakpoint){
    font-size:40px !important;
  }
}

.heading-h4{
  font-size:20px !important; 
  @media (min-width:@mobileBreakpoint){
    font-size:40px !important;
  }
}

.body-copy-large{
  font-size:20px !important; 
  @media (min-width:@mobileBreakpoint){
    font-size:40px !important;
  }
}

.body-copy{
  font-size:20px !important; 
  @media (min-width:@mobileBreakpoint){
    font-size:40px !important;
  }
}

.meta-date{
  font-size:20px !important; 
  @media (min-width:@mobileBreakpoint){
    font-size:40px !important;
  }
}




.nav-label{
  font-family: 'Open Sans', sans-serif !important;
    font-weight: 500 !important;
  font-size:14px !important;

  @media (min-width:@mobileBreakpoint){
  //  font-size:40px !important;
  }
}

// APPLY to navigation menu
.header-nav-list a, .header-nav-list{
  .nav-label();
}

.read-more{
  font-size:20px !important; 
  @media (min-width:@mobileBreakpoint){
    font-size:40px !important;
  }
}

// reusable class for same underline main nav has on hover and active
.active-nav-item-underline{
      background-image: linear-gradient(currentColor,currentColor);
    background-repeat: repeat-x;
    background-size: 1px 1px;
    background-position: 0 100%;
    background-position: 0 calc(100% - 0.1em);
}

h1.entry-title.entry-title--large.p-name{
 // .heading-h1()
}


// DATE FORMATTING - We hide unformatted dates and fade-in after formatting to avoid any flashes of badly formatted text blinking
.blog-meta-item--date span,//single
time.summary-metadata-item--date, //summary
.blog-meta-primary time.blog-date //blog grid
{
transition: 0.2s opacity ease;
opacity:0 !important;
}

html body #page .dateFormatted-and-ready-to-show, 
.dateFormatted-and-ready-to-show *{
  opacity: 1 !important;
}


// BLOG PAGE TAG (5 key vertial) NAVIGATION
section[data-section-id="63345cfd93596d2af59dedad"]{
  //display:none;
}

// BLOG SUBNAV - ONE PER LINE ON MOBILE
@media only screen and (max-width:770px){
  section[data-section-id="63345cfd93596d2af59dedad"] a:after {
  content: "\A" !important;
  white-space: pre !important;
}
}







////🫡🫡🫡 BLOG SUBNAV BACK HERE
////🫡🫡🫡 BLOG SUBNAV BACK HERE
////🫡🫡🫡 BLOG SUBNAV BACK HERE
////🫡🫡🫡 BLOG SUBNAV BACK HERE
[data-section-id="63345cfd93596d2af59dedad"]{
  display:none;
}


section[data-section-id="63345cfd93596d2af59dedad"] p,
section[data-section-id="6389f6432a12130f5a0778ab"] p,
section[data-section-id="63936a7c3d674d7079783a93"] p
{
  margin: 8px !important; // make filter and filter links look like they are the same element and not 2 different things
}

section[data-section-id="63345cfd93596d2af59dedad"] a,
section[data-section-id="6389f6432a12130f5a0778ab"] a,
section[data-section-id="63936a7c3d674d7079783a93"] a,

.blog-item-category-wrapper a,
.blog-categories-list a{
  line-height: 1 !important;
    &.active-filter, &:hover{
//        .active-nav-item-underline()

    }
    position:relative;
    .nav-label();
    //display:inline-block;
    margin:0 10px 10px; // space between. Sometimes there are 2 rows so vertical is also needed. 
    text-decoration:none;
    color: inherit !important;
  border: 1px solid black;
  border-radius:100px;
  display:inline-block; 
  padding:5px 12px 6px 24px;
  font-size:12px !important;
    &:before{
   content: "";
    position: absolute;
    left:11px;
    top: 8px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
  }
   &[href="/blog"]{
     &:before{
       background:@black;
     }
       &.active-filter, &:hover {
       background:@black;
       color:@white !important;
		&:before{
       background:@white;
     }
     }
  }
  
   &[href*="Clinical"]{
     border: 1px solid var(--clinical-purple) !important;
     &:before{
       background:var(--clinical-purple);
     }
     &.active-filter, &:hover {
       background:var(--clinical-purple);
       color:@white !important;
		&:before{
       background:@white;
     }
     }
  }
  
  &[href*="trategy"]{
    border: 1px solid var(--strategy-lightblue) !important;
    &:before{
      background:var(--strategy-lightblue);
    }
     &.active-filter, &:hover {
       background:var(--strategy-lightblue);
       color:@white !important;
		&:before{
       background:@white;
     }
     }
  }
  &[href*="egulat"]{
    border: 1px solid var(--regulatory-mintgreen) !important;
    &:before{
    background:var(--regulatory-mintgreen);
    }
     &.active-filter, &:hover {
       background:var(--regulatory-mintgreen);
       color:@white !important;
		&:before{
       background:@white;
     }
     }
  }
  &[href*="ntellectual"]{
    border: 1px solid var(--ip-darkblue) !important;
    &:before{
    background:var(--ip-darkblue);
    }
      &.active-filter, &:hover {
       background:var(--ip-darkblue);
       color:@white !important;
		&:before{
       background:@white;
     }
     }
  }
  &[href*="ealth"]{
      border: 1px solid var(--health-economics-brightpink) !important;
    &:before{
    background:var(--health-economics-brightpink);
    }
    &.active-filter, &:hover {
       background:var(--health-economics-brightpink);
       color:@white !important;
		&:before{
       background:@white;
     }
     }
  }
  }


//BLOG GRID - META - CATEGORIES (smaller than in blog grid category filter)
a.blog-categories{
  font-size:9px !important;
    padding:3px 7px 3px 16px;
  margin:0 !important; // no spacing
  &:before{
    left: 8px !important;
    top: 6px;
    width: 4px;
    height: 4px;
  }
}

.blog-item-tag-wrapper{
  padding:6px 0px;
  display:inline-block;
}


// BLOG GRID - we can't show all categories. so maybe we show the filtered one OR the first one, and "+4 more" ?
span.category-count {
    font-size: 11px;
    font-weight: 400;
}

.tweak-blog-item-delimiter-bullet .blog-item-wrapper .blog-item-category-wrapper:not(:last-child)::after, .tweak-blog-item-delimiter-bullet .blog-item-wrapper .blog-item-tag-wrapper:not(:last-child)::after{
  content: none;
}

/*BLOG SUBNAVIGATION TAGS / KEY VERTICALS ALTERNATIVE STYLE - pills / labels*/
/*
section[data-section-id="63345cfd93596d2af59dedad"] a,
.blog-meta-item--tags a{
    &.active-filter, &:hover{
        .active-nav-item-underline()
    }
    position:relative;
//    .nav-label();
    display:inline-block;
  padding: 1px 10px 1px 30px;
  border: 1px solid;
  border-radius:30px;
  font-size:12px !important;
    margin:0 10px ;
    text-decoration:none;
    color: inherit !important;
    &:before{
     content:"";
    position:absolute;
    left:17px;
    top:7px;
    width:8px;
    height:8px;
    border-radius:50%;
  }
   &[href="/blog"]{
     color:@black;
&:before{
    background:@black;
     }}
  
   &[href*="Clinical"]:before{
    background:var(--clinical-purple);
  }
  
  &[href*="trategy"]:before{
    background:var(--strategy-lightblue);
  }
  &[href*="egulat"]:before{
    background:var(--regulatory-mintgreen);
  }
  &[href*="ntellectual"]:before{
    background:var(--ip-darkblue);
  }
  &[href*="ealth"]:before{
    background:var(--health-economics-brightpink);
  }
  }
*/








// FORMS - HIDE UTM & REF FIELDS (hidden fields have bugs SQSP support wont help with)
.GTM-hidden-field-hide{
  display:none;
}









////// BLOG CATEGORIES AND TAGS - after switch. 

//hide images in blog grid
.blog-basic-grid--container .image-wrapper{
  display:none;
}
//show blog posts. Disable fade in animation that doesn't kick in.
.blog-basic-grid .blog-basic-grid--container{
  opacity:1 !important;
}
// No room for all categories in grid. hide other than first
.blog-categories-list a,
.blog-categories--comma{
display:none;
}
//show first category meta in blog grid
.blog-categories-list a:first-of-type{
display:inline-block;
}

// if filtering blog posts by category, let's show THAT category in meta, instead of random first one. It's weird filtering "Strategy" and seeing post have just "Clinical" as only category shown
.blog-category-filtered{
  .blog-categories-list a:first-of-type{
    display:none;
  }
  .blog-post-category-current-filter{
  display:inline-block !important;;
  }
}

*{
//  background:red;
}


///TEMPORARILY HIDE UGLY CATEGORIES AND TAGS. bugs everywhere.

/*.blog-meta-item.blog-meta-item--categories,*/ .blog-meta-item--tags{
  display:none !important;
}


/////// TIMELINE STUFF FROM STYLE-LOCAL.LESS CODEKIT - V 0.8   DEC 7 2022


//🔵🔴🟣 COLORS




/*

DOMAIN JOTTA FONTIT: ;
/config/settings/domains ➡️ https://macbook-pro.local:5757

*/

*{
  //background: rgb(60, 0, 255) !important;
 
}

img{
  //border-radius: 10%;
}

*{
 // font-family:"helvetica neue" !important;
}

/*
🟪
🟪
🟪
🟩
🟩
🟩
SERVIES PORTFOLIO SUBPAGE SKETCHING

*/

/*

.sqs-block-content, .line{
  height:100%;
}
.line{
  position:relative;
   background:black;
  width: 1px;
  left:50%;
}
*/





#gridThumbs{
  overflow: hidden; // hack for vertical animated line not to go over the edge
  position:relative;
  //padding: 0 30px;
  padding-left: 40px;

  //vertical line
  /*
  &:after{
    display:block;
    position:absolute;
    content:"";
    width:1px;
    left:50%;
    height:100% !important;
    background:black;
  }
  */
  max-width:500px;
  //outline:1px dashed red;
  //padding-left: var(--timelineTitleLeft);
 display:flex; 
  flex-direction: column;
  //align-items: flex-start;
  //align-items: center;
 
  
  .grid-image{
    display:none;
  }






    h2{
      //move 20px to the left
      //margin-left:var(--timelinetitleleft);
      //margin-left: unset !important;
      width: 100%;
      margin-left:-20px !important;
      z-index: 10;
      background-color: var(--neutral-white);
    }

  .grid-item {
    

  //  width: 80%;
.portfolio-text{
  margin-left: 20px;
}
    &:hover{
      .number{
        transform:scale(1.06);
        transform-origin: center center;

      }
      .portfolio-text{
        transform:translateX(6px);
        transform: none !important;
      //  margin-left: 20px;
      }
      .arrow{
        transform:translateX(8px);
       // transform: none !important;
      }
      .pofo-readmore{
        transform:translateX(8px);
      }

    }

    *{transition: .3s all ease;}
    box-sizing: border-box;
    //width: 260px;
    margin:0;
    border-left: 1px solid; // make purple
    //border-color:var(--clinical-purple) !important;
   // border-color: var(--neutral-darkgrey) !important;
    //border-color: var(--neutral-lightgrey) !important;
    border-color: #cecece !important;

    padding:28px 0px 28px 40px;
    //border:1px solid red;
    position: relative;
    --sizeandleft: 4px;
    
    // timeline stop, "circle" on line
    &:before{
      //display: none;
      box-sizing: border-box;
      content:"";
      position:absolute;
      
      left:~"calc(-1 * var(--sizeandleft) - 0.5px)";
      top:50%;
      width:~"calc(2 * var(--sizeandleft))";
      aspect-ratio: 1;
      //border: 1px solid var(--clinical-purple) !important;
      border-radius: 100%;
      background: var(--clinical-purple);
      //background: #FFF;
    }



   .portfolio-title{
    font-size:16px !important; //body copy default
    //font-size:20px !important;
    margin:0 0 4px 0 !important;
    font-weight: 700;
   }
   .seo-description{
    font-size:16px;
    line-height:1.4;
    margin: 0 !important;
    .pofo-readmore{

      

    // TODO make reusable less . class for read more links
        display:block;
        margin-top:16px;
        font-size:14px;
        content:"Read more →";
        //color:var(--clinical-purple) !important; 
        //use css variables instead of less variables
        color:var(--current-service-color) !important;
        font-weight:600;
      text-transform:uppercase !important;
      font-size:11px !important;
      letter-spacing:0.05em;
      transition:.3s all ease;
      position:relative;
      left:0;
      .arrow{
        display: inline-block;
      }
        


    }
  }


   .number{

    // https://stackoverflow.com/questions/4861224/how-to-use-css-to-surround-a-number-with-a-circle
    --timeline-number-size:58px;
    width: var(--timeline-number-size);
    line-height: var(--timeline-number-size);
    left: ~"calc( (var(--timeline-number-size) * -0.5) - 3px)"; // position depending on size and border


    z-index: 10;
    transition:.2s all ease;
    position:absolute;
    //left:var(--timelinetitleleft);
    background: var(--neutral-white);
    top: ~"calc(50% - 32px)"; // 50% of the height of the element and adjust for size of the number
    //font-size: 30px;
    font-weight:bold;
    text-align: center;
    color:var(--current-service-color) !important;
    //border:2px solid var(--clinical-purple) !important; //circle-stuff
    border:2px solid transparent !important; //circle-stuff
    border-radius: 100%;
    font-size: 22px !important;
    &.number-overlap{
      border:2px solid var(--current-service-color) !important; //circle-stuff
    }
   }

   /*
   .no-touch & {
    .pofo-readmore{
      opacity:0;
    }
    &:hover{
      .pofo-readmore{
        opacity:1;
      }
    }
   }
   */
   

  }

 
}

/*
    .grid-item[href*="post"] {
      //background:red;
      &:before{
        content:"Post-Market";
        font-size: 38px;
        font-weight:bold;
        margin-bottom:70px;
      }
    }


    .grid-item[href*="post"] ~ .grid-item[href*="post"] {
      // background:blue;
      &:before{
        display:none;
      }
        // Reverse the above rule 
    }


    .grid-item[href*="pre"]{
    //  background:green;
      &:before{
        font-size: 38px;
        font-weight:bold;
        margin-bottom:70px;
      }
    }

    .grid-item[href*="pre"] ~ .grid-item[href*="pre"] {
    //    background:blue;
      &:before{
        display:none;
      }
        // Reverse the above rule 
    }
*/




.tube-item-vertical-line {
  transition: none !important;
  //background: var(--neutral-darkgrey) !important;
  //background: var(--clinical-purple) !important;
  //background is --current-service-color
  background: var(--current-service-color) !important;
    height: 0;
    position: absolute;
    width: 1px;
    left: -1px;
    top: 0;
    z-index: 5;
    //NEW Hugh
    width: 2px;
    left: -1.5px;
}


/*END 
🟪
🟪
🟪
🟩
🟩
🟩
SERVIES PORTFOLIO SUBPAGE SKETCHING
*/

/////// TUBE  TIMELINE STUFF END














/*
* NEWSLETTER - SUBPAGE and FOOTER NEWSLETTER BLOCK
*/

.newsletter-block .newsletter-form-field-element, 
.newsletter-block .newsletter-form-button{
  padding: 0.84rem 2rem !important; //they're too big by default
  border: none !important; //subtle grey borders look bad
}











//NEWSLETTER PAGE

//hide blank heading from newsletter block - we're not using it and it'll create weird spacing. 
#block-yui_3_17_2_1_1672830175723_37275, 
#block-a6d2b76149f477c1df75{ .newsletter-form-header{
  display:none;
}}

//BLUE version rounded demo
#block-a6d2b76149f477c1df75  .newsletter-form-field-element{
  border-radius: 3px;
    padding: 0.76rem 2rem !important;
}

//Add borders for fields in this page. 
#block-yui_3_17_2_1_1672830175723_37275 { 
  
  .newsletter-form-field-element {
  border: 1px solid ~"#0000004a" !important;
    border-radius: 3px;
    padding: 0.76rem 2rem !important;
  }
}

// Hide footer newsletter section on  thenewsletter page - it'd look weird having it twice
#collection-63b55cee346eda406188c653
section[data-section-id="62f5380c4bfb83573bcedd97"]{
  display:none;
}















/*
* SERVICES - SUBPAGES 
*/

// Spacing - let's not use the grid for this as non-devs will struggle to keep it the same everywhere.
.portfolio-subpage section.page-section   {
  .content-wrapper {
  padding: 60px 0 !important;
}
// last section
  &:last-child {
    .content-wrapper {
      padding-bottom: 0 !important;
    }
  }
}


// Service sub-page –   Spacing between h1 and the "step" meta above it
h1.automatic-sub-page-title.jsonContentLoadedFadeIn{
  margin-top:0 !important;
}
.automatic-sub-page-meta{
  margin-bottom: 6px !important;
}



// Service sub-page –  Pagination using color for this service
.service-subpage-breadcrumbs a {
  color: var(--current-service-color) !important;
}

// Add more whitespace to the first slide of the service subpage
.portfolio-subpage section.page-section:first-of-type .content{
  //opacity:0.2 !important;
  //margin-top:90px; // not needed after adding the top/bottom padding to all sections
}


// Let's use CSS for paragraph widths, vertical spacing, etc.
// only sections (article.sections), not e.g. footer newsletter headings which should be centered
.portfolio-subpage article.sections {
  h4 + p, h3 + p{
    margin-top:0 !important;
  }
  h4, h3{
    font-size: inherit !important;
    margin-bottom:2px !important;
  }
  //p, and all headings 1-4
  p, h1, h2, h3, h4 {
  max-width: 501px;
  margin-left: auto;
  margin-right: auto;
}
}

//space between lead and <p> after it
.portfolio-subpage .sqsrte-large + p {
  margin-top: 44px !important;
}



// Sub-service pages –  META above title

.ProductItem-next-prev-codeandtonic{
  text-align: right;

}

.ProductItem-next-prev-codeandtonic .codetonic-prev:before {
  content: '\2039\0020';
}

.ProductItem-next-prev-codeandtonic .codetonic-next:after {
  content: '\0020\203A';
}

.ProductItem-next-prev-codeandtonic .ProductItem-nav-pagination-separator:after{
  content: '\002F';
}

//meta stuff above the title
.sub-service-meta{
  display:flex;
  justify-content: space-between;
}

// keep automatic-sub-page-meta centered by flex 1 on first and last items https://stackoverflow.com/questions/32378953/keep-the-middle-item-centered-when-side-items-have-different-widths
.ProductItem-next-prev-codeandtonic, .service-subpage-breadcrumbs{
  flex:1;
}

//no underlines here
.sub-service-meta a{
  text-decoration: none !important;
}

// SUB-SERVICE PAGES -MOBILE 
@media (max-width: 767px) {
  .portfolio-subpage{ // todo move this to be parent for ALL sub page CSS
  // left edge instead of center

  // mobile team images left - looks weird if only text is left, image center
  
  article.sections{
    .design-layout-fluid.image-position-center .sqs-image{
      justify-content: left;
    }

    p, h3, h4, h1, h2{
      margin-left: 0 !important;
      margin-right: 0 !important;
      justify-content: left;
    }
  
    p, h1, h2, h3, h4{
      &[style*="text-align:center"]{
        text-align:left !important;
      }
     }

  } 
  


   // no need for extra white space on start, on mobile
  .portfolio-subpage section.page-section:first-of-type .content{
    margin-top:0px;
  }

  // less space between h1 and meta above it
  h1{
    margin-top:10px !important;
  }
  
  // meta stuff on multiple lines
  .sub-service-meta{
    flex-wrap: wrap;
    > * {
      flex: 1 1 100%;
    }
    .ProductItem-next-prev-codeandtonic{
      margin-top: 30px;
      text-align: left;
    }
  }
  // no space for "step 1/12" stuff  on mobile
  .automatic-sub-page-meta{
    display:none;
  }
  }
}




// Ankeets pagination idea - links on same row as last "Next steps" section
//@media min-width: 960px {
  @media screen and (min-width: 960px) { // on mobile it's too wide
  .portfolio-subpage .item-pagination-link{
    z-index: 9999; // make it appear on top of the next steps section
    
    // position vertically approximately where the last "Next steps" section is
    position: relative;
    top: calc(-78.1px - 4vw) !important;
  }
  
}




// Risk Classification - infograph 1 test from: https://docs.google.com/presentation/d/1W51X1gIbnmAD4x1pYbMK8-FGYDwqr46QQ98jAyaYiZA/edit#slide=id.g200f116371b_1_1
.fe-63d3d1df55d0b241361a0b22{ 

  

//media query min-width 677px
@media screen and (min-width: 768px) {

 


  
  .fe-block-e36894fe060700b67418,
.fe-block-f81f643749bbd8167670,
.fe-block-61e83213d745acffce8f,
.fe-block-88072067f3690415748a,
.fe-block-fda217c1094ec997087f,
.fe-block-abf84ca7bcfbc235eecb,
.fe-block-f07b94caa0f1713b38d2,
.fe-block-2d8f049834f03a487dde{
  display: none !important;
}


}




  
  html & { // replace with .sqs-is-page-editing ? 
    // A CSS :Before -label, for admin editing the page.
    &:before{
      display: none !important;
      content: "Custom CSS applied by Fenix to this element .fe-63d3d1df55d0b241361a0b22. Duplicating will not work. ";
      opacity: 1.0;
       transition: .5s all ease;
      background: #ffc3c3;
      color: black;
      padding: 2px 6px;
      font-size: 9px;
      top: 17px !important;
      margin: 0;
      position: absolute;
      text-transform: uppercase;
      font-weight: 400;
      height: 20px;
      z-index: 99999999;
    }
  
   }

  .fe-block{
 

    // styles only for grid infograph block
    &.fe-block-yui_3_17_2_1_1674825182091_9353,
    &.fe-block-7f494c7d7b0c3bec5f1d,
    &.fe-block-e3d9e808ea70e42b3295,
    &.fe-block-fde60c7a7bc7e1765192,
    &.fe-block-9c8006e2cb038e9b667d,
    &.fe-block-476107b978f5680de416,
    &.fe-block-82f6c56288e017cc0b7d,
    &.fe-block-c3c0fd53a1d8adf71442,
    &.fe-block-3369f8c3bfc229873fed,
    &.fe-block-e56b2bcc16f0f0abe47e,
    &.fe-block-f84520f3c66d224c9ad6,
    &.fe-block-5566db8db162ac064756,
    &.fe-block-0220c9853d0843df67dc,
    &.fe-block-05b8d0a57689e67de280,
    &.fe-block-cbb6e8af5d9ad0fa7b81,
    &.fe-block-f-3b94caa0f1713b38d2,
    &.fe-block-f81f643749bbd8167670,
    &.fe-block-e36884fe060700b67418,
    &.fe-block-12d8f049834f03a487dde,
    &.fe-block-abf84ca7bcfbc235eecb,
    &.fe-block-f07b94caa0f1713b38d2,
    &.fe-block-88072067f3690415748a,
    &.fe-block-71e83213d745acffce8f,
    &.fe-block-e36894fe060700b67418,
    &.fe-block-fda217c1094ec997087f,
    &.fe-block-2d8f049834f03a487dde,
    &.fe-block-61e83213d745acffce8f,
    &.fe-block-70e407110940e92b41b9 {
      .html-block{
        justify-content: center !important;
       // text-align: center !important;
      }
      
      outline: 1px solid var(--neutral-lightgrey);
  padding:4px !important;
  text-align: center !important; // TODO: use pargraph 3 style everywhere instead of this
  margin: 0 1px 1px 0; // avoid double borders from https://stackoverflow.com/questions/47882924/preventing-double-borders-in-css-grid
  // add a hover state for background color
  
  /**/
  p{
    font-size: 12px !important;
    //line-height: 1;
  }
      &:hover{
        background: var(--current-service-color);
        p{color: var(--neutral-white) !important;}
        
      }
    }


  
}
} // end of .fe-63d3d1df55d0b241361a0b22


.fe-block-61e83213d745acffce8f{
  //background:red !important;
  //display:block !important;
}

/*hide these mobile only extra grid cells on destkop, min-width 677px*/

