/******
 CSS VARIABLES
****** */
:root {
  --neutral-black: #1C1D1E;
  --neutral-white: #FFFFFF;
  --neutral-lightgrey: #EEF0F2;
  --neutral-darkgrey: #A6A6A6;
  --clinical-purple: #A37AF5;
  --strategy-lightblue: #5BCFFF;
  --regulatory-mintgreen: #49DAB0;
  --ip-darkblue: #3A6DF5;
  --health-economics-brightpink: #FF9FF2;
  --timelinetitleleft: -28px;
}
/* *****
 SERVICES DROPDOWN COLOR BOXES
****** */
.header-nav-folder-item {
  position: relative;
}
/*.header-nav-folder-item:before {
  transition: .3s all ease;
   content: "";
    position: absolute;
    width: 5px;
    height: 38.5px;
    left: 0px;
    top: 1px;
}
*/
.header-menu-nav-folder[data-folder="/services"] .header-menu-nav-item a {
  font-size: 24px;
}
.header-menu-nav-folder[data-folder="/services"] .header-menu-nav-item a .header-menu-nav-item-content {
  position: relative;
}
.header-menu-nav-folder[data-folder="/services"] .header-menu-nav-item a .header-menu-nav-item-content:before {
  border-radius: 50%;
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  left: -20px;
  top: 7px;
}
.header-menu-nav-folder[data-folder="/services"] .header-menu-nav-item a[href*="clinical"] > div:before {
  background: var(--clinical-purple);
}
.header-menu-nav-folder[data-folder="/services"] .header-menu-nav-item a[href*="strategy"] > div:before {
  background: var(--strategy-lightblue);
}
.header-menu-nav-folder[data-folder="/services"] .header-menu-nav-item a[href*="regulatory"] > div:before {
  background: var(--regulatory-mintgreen);
}
.header-menu-nav-folder[data-folder="/services"] .header-menu-nav-item a[href*="intellectual"] > div:before {
  background: var(--ip-darkblue);
}
.header-menu-nav-folder[data-folder="/services"] .header-menu-nav-item a[href*="health"] > div:before {
  background: var(--health-economics-brightpink);
}
.header-nav-folder-item:before {
  border-radius: 50%;
  transition: 0.3s all ease;
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  left: 7px;
  top: 17px;
}
.header-nav-folder-item:hover:before {
  width: 10px;
  height: 10px;
}
.header-nav-folder-item:nth-child(1):before {
  background: var(--clinical-purple) !important;
}
.header-nav-folder-item:nth-child(2):before {
  background: var(--strategy-lightblue) !important;
}
.header-nav-folder-item:nth-child(3):before {
  background: var(--regulatory-mintgreen) !important;
}
.header-nav-folder-item:nth-child(4):before {
  background: var(--ip-darkblue) !important;
}
.header-nav-folder-item:nth-child(5):before {
  background: var(--health-economics-brightpink) !important;
}
body:not(.header--menu-open) .header-nav-folder-item--active .header-nav-folder-item-content {
  background-size: 0px !important;
}
.header-nav-folder-item a span {
  transition: 0.3s all ease;
}
.header-nav-folder-item:hover a span {
  margin-left: 18px;
}
.header-nav-folder-item a span {
  padding: 10px 10px;
  display: block;
  margin-left: 12px;
}
.header-nav-item:not(.header-nav-item--folder):hover a {
  background-image: linear-gradient(currentColor, currentColor);
  background-repeat: repeat-x;
  background-size: 1px 1px;
  background-position: 0 100%;
  background-position: 0 calc(100% - 0.1em);
}
.header-nav-folder-title {
  margin-right: 13px;
}
.header-nav-folder-title:after {
  content: "moi";
  content: '';
  background: url('https://static1.squarespace.com/static/62f5262a0b58c94a255a69ba/t/63020679c9719d4bab261bf5/1661077114176/chevron+down.png') no-repeat center center;
  position: absolute;
  top: 8.6px;
  right: -3.4px;
  width: 12px;
  height: 15px;
  background-size: contain;
}
.header-nav-folder-content:before {
  content: '';
  position: absolute;
  top: -7px;
  left: 33px;
  width: 20px;
  height: 20px;
  background-size: contain;
}
/*
.header-nav-item a{
  padding: 15px 2px !important;
}

// ACTIVE NAV ITEM TEST
.header-nav-item--active a {
    background: #A37AF5;
    color: white !important;
    text-decoration: none !important;
   
    background-image: none !important;
   
    border-radius: 6px;
}
*/
/*h1, h2, h3, h4{
  strong{
    font-weight: inherit !important;
    font-style:normal !important;
    display:inline-block;
    background: #A37AF5;
    padding:20px;
    color: #FFF; 
    border-radius:20px;
    text-transform:none;
  }
}
*/
/*
.sqs-block-button-element--medium{
  background: rgb(163,122,245);
background: linear-gradient(22deg, rgba(163,122,245,1) 0%, rgba(91,207,255,1) 100%);  
}
*/
/*


//😎😎😎 BLOG POST WIDTHS */
.blog-item-content-wrapper {
  max-width: 550px !important;
  margin: auto;
  display: flex;
  flex-direction: column;
  /*  
p {
   max-width:550px !important;
  margin: auto;

}  */
}
.blog-item-content-wrapper .blog-item-author-profile-wrapper {
  order: 1;
}
.blog-item-content-wrapper .custom-metabox {
  order: 2;
  margin-bottom: 30px;
}
.blog-item-content-wrapper .blog-item-content {
  order: 3;
}
.blog-item-content-wrapper .blog-meta-item.blog-meta-item--tags {
  order: 4;
}
.item-pagination-link {
  align-items: flex-start;
}
.blog-list-pagination {
  font-weight: 600 !important;
}
.tweak-blog-basic-grid-text-alignment-left .blog-basic-grid .blog-basic-grid--container .blog-more-link,
section[data-section-id="62f528d73cd06779e8eb3ee9"] p > a[href*="regulatory"],
section[data-section-id="62f528d73cd06779e8eb3ee9"] p > a[href*="intellectual"],
section[data-section-id="62f528d73cd06779e8eb3ee9"] p > a[href*="strategy"],
section[data-section-id="62f528d73cd06779e8eb3ee9"] p > a[href*="economics"],
section[data-section-id="62f528d73cd06779e8eb3ee9"] p > a[href*="cli"],
section[data-section-id="630906727a98a14798f4b3f4"] p > a[href*="regulatory"],
section[data-section-id="630906727a98a14798f4b3f4"] p > a[href*="intellectual"],
section[data-section-id="630906727a98a14798f4b3f4"] p > a[href*="strategy"],
section[data-section-id="630906727a98a14798f4b3f4"] p > a[href*="economics"],
section[data-section-id="630906727a98a14798f4b3f4"] p > a[href*="cli"],
a.summary-read-more-link {
  text-decoration: none !important;
  transition: 0.3s all ease;
  position: relative;
  left: 0;
  font-weight: 600;
  text-transform: uppercase !important;
  font-size: 11px !important;
  letter-spacing: 0.05em;
}
.tweak-blog-basic-grid-text-alignment-left .blog-basic-grid .blog-basic-grid--container .blog-more-link:hover,
section[data-section-id="62f528d73cd06779e8eb3ee9"] p > a[href*="regulatory"]:hover,
section[data-section-id="62f528d73cd06779e8eb3ee9"] p > a[href*="intellectual"]:hover,
section[data-section-id="62f528d73cd06779e8eb3ee9"] p > a[href*="strategy"]:hover,
section[data-section-id="62f528d73cd06779e8eb3ee9"] p > a[href*="economics"]:hover,
section[data-section-id="62f528d73cd06779e8eb3ee9"] p > a[href*="cli"]:hover,
section[data-section-id="630906727a98a14798f4b3f4"] p > a[href*="regulatory"]:hover,
section[data-section-id="630906727a98a14798f4b3f4"] p > a[href*="intellectual"]:hover,
section[data-section-id="630906727a98a14798f4b3f4"] p > a[href*="strategy"]:hover,
section[data-section-id="630906727a98a14798f4b3f4"] p > a[href*="economics"]:hover,
section[data-section-id="630906727a98a14798f4b3f4"] p > a[href*="cli"]:hover,
a.summary-read-more-link:hover {
  left: 2px;
}
.tweak-blog-basic-grid-text-alignment-left .blog-basic-grid .blog-basic-grid--container .blog-more-link:hover:after,
section[data-section-id="62f528d73cd06779e8eb3ee9"] p > a[href*="regulatory"]:hover:after,
section[data-section-id="62f528d73cd06779e8eb3ee9"] p > a[href*="intellectual"]:hover:after,
section[data-section-id="62f528d73cd06779e8eb3ee9"] p > a[href*="strategy"]:hover:after,
section[data-section-id="62f528d73cd06779e8eb3ee9"] p > a[href*="economics"]:hover:after,
section[data-section-id="62f528d73cd06779e8eb3ee9"] p > a[href*="cli"]:hover:after,
section[data-section-id="630906727a98a14798f4b3f4"] p > a[href*="regulatory"]:hover:after,
section[data-section-id="630906727a98a14798f4b3f4"] p > a[href*="intellectual"]:hover:after,
section[data-section-id="630906727a98a14798f4b3f4"] p > a[href*="strategy"]:hover:after,
section[data-section-id="630906727a98a14798f4b3f4"] p > a[href*="economics"]:hover:after,
section[data-section-id="630906727a98a14798f4b3f4"] p > a[href*="cli"]:hover:after,
a.summary-read-more-link:hover:after {
  left: 5px;
}
.tweak-blog-basic-grid-text-alignment-left .blog-basic-grid .blog-basic-grid--container .blog-more-link:after,
section[data-section-id="62f528d73cd06779e8eb3ee9"] p > a[href*="regulatory"]:after,
section[data-section-id="62f528d73cd06779e8eb3ee9"] p > a[href*="intellectual"]:after,
section[data-section-id="62f528d73cd06779e8eb3ee9"] p > a[href*="strategy"]:after,
section[data-section-id="62f528d73cd06779e8eb3ee9"] p > a[href*="economics"]:after,
section[data-section-id="62f528d73cd06779e8eb3ee9"] p > a[href*="cli"]:after,
section[data-section-id="630906727a98a14798f4b3f4"] p > a[href*="regulatory"]:after,
section[data-section-id="630906727a98a14798f4b3f4"] p > a[href*="intellectual"]:after,
section[data-section-id="630906727a98a14798f4b3f4"] p > a[href*="strategy"]:after,
section[data-section-id="630906727a98a14798f4b3f4"] p > a[href*="economics"]:after,
section[data-section-id="630906727a98a14798f4b3f4"] p > a[href*="cli"]:after,
a.summary-read-more-link:after {
  transition: 0.3s all ease;
  content: " →";
  display: inline;
  background: none;
  position: relative;
  top: -0.3px;
  left: 3px;
}
.sqs-is-page-editing .custom-styles-applied:before {
  content: "ADMIN! THIS SECTION has custom CSS styling applied. ";
  opacity: 1;
  transition: 0.5s all ease;
  background: #ffc3c3;
  color: black;
  padding: 2px 6px;
  font-size: 9px;
  top: 17px !important;
  margin: 0;
  position: absolute;
  text-transform: uppercase;
  font-weight: 400;
  height: 20px;
  z-index: 99999999;
}
.summary-read-more-link:after {
  display: none !important;
}
.header-layout-nav-center .header-title {
  flex: 1 1 20%;
}
@media (min-width: 1023px) {
  .header-layout-nav-center .header-title .header-title-logo img {
    width: 120px !important;
  }
}
.header-title-nav-wrapper {
  flex: 1 0 80%;
}
.header-layout-nav-center .header-nav {
  width: 34%;
  flex: 1 1 100%;
}
.header-layout-nav-center .header-actions {
  width: 14%;
}
@media only screen and (min-width: 600px) {
  .header-title-logo img {
    transform: scale(1.2);
    transform-origin: left center !important;
  }
}
@media only screen and (min-width: 1023px) {
  .header-title-logo img {
    transform: scale(1.8);
  }
}
/******
🏷️ LOGO GRID
*******/
.eapp-logo-showcase-header-component {
  display: none !important;
}
/******
🏷️ HOMEPAGE BLOG SUMMARY
*******/
/*
a.summary-read-more-link{
  color: var(--clinical-purple) !important;
  //text-transform:uppercase;
  font-size:13px !important;
  font-weight:500;
}
*/
/******
🏷️ BLOG
*******/
.blog-basic-grid .blog-title,
.summary-title {
  line-height: 1.31 !important;
  font-size: 22px;
}
.blog-basic-grid .blog-title a:hover,
.summary-title a:hover {
  box-shadow: inset 0 -1px 0 0 #fff, inset 0 -2px 0 0 var(--clinical-purple);
}
@media screen and (min-width: 1100px) {
  .blog-basic-grid .blog-title a:hover,
  .summary-title a:hover {
    box-shadow: inset 0 -3px 0 0 #fff, inset 0 -4px 0 0 var(--clinical-purple);
  }
}
.blog-item-author-profile-wrapper {
  padding: 0 0 0px 0 !important;
  border-radius: 12px;
  flex-direction: row !important;
  justify-content: left !important;
}
.blog-item-author-profile-wrapper .author-name {
  display: none;
}
.blog-item-author-profile-wrapper a span.author-avatar {
  display: block !important;
  margin: 0 30px 0 0 !important;
}
.blog-item-author-profile-wrapper .author-bio {
  margin: 0 !important;
  font-weight: 500;
  font-size: 14px;
  text-align: left !important;
}
.blog-item-wrapper .blog-item-author-profile-wrapper {
  margin: 0 0 4vh;
}
.blog-item-title h1.entry-title.entry-title--large.p-name {
  line-height: 1.2;
}
a[href*="linkedin"]:hover svg {
  fill: var(--clinical-purple) !important;
}
a[href*="twitter"]:hover svg {
  fill: var(--clinical-purple) !important;
}
/******
🏷️ HOMEPAGE SERVICES SECTION
*******/
section[data-section-id="62f53ab95bbb9c52dc59906f"] .sqs-block-content {
  text-align: center !important;
}
/*
🐠🐠🐠🐠🐠
🐠🐠🐠🐠🐠

CODE + TONIC ANIMATED HEADING #1 
CSS

🐠🐠🐠🐠🐠
🐠🐠🐠🐠🐠

*/
h1 span[style*="text-decoration:line-through"],
h2 span[style*="text-decoration:line-through"],
h3 span[style*="text-decoration:line-through"],
h4 span[style*="text-decoration:line-through"] {
  display: none;
}
body.sqs-edit-mode-active.sqs-layout-editing.sqs-edit-mode h1 span[style*="text-decoration:line-through"],
body.sqs-edit-mode-active.sqs-layout-editing.sqs-edit-mode h2 span[style*="text-decoration:line-through"],
body.sqs-edit-mode-active.sqs-layout-editing.sqs-edit-mode h3 span[style*="text-decoration:line-through"],
body.sqs-edit-mode-active.sqs-layout-editing.sqs-edit-mode h4 span[style*="text-decoration:line-through"] {
  display: block;
}
body.sqs-edit-mode-active.sqs-layout-editing.sqs-edit-mode h1 span[style*="text-decoration:line-through"]:before,
body.sqs-edit-mode-active.sqs-layout-editing.sqs-edit-mode h2 span[style*="text-decoration:line-through"]:before,
body.sqs-edit-mode-active.sqs-layout-editing.sqs-edit-mode h3 span[style*="text-decoration:line-through"]:before,
body.sqs-edit-mode-active.sqs-layout-editing.sqs-edit-mode h4 span[style*="text-decoration:line-through"]:before {
  content: "(This strikethrough text will be animated. )";
  position: absolute;
  top: -9px;
  left: 33%;
  font-size: 19px;
  background: #ffbba3;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 4px;
}
.codetonic-textanimation-one[style*="center"] .container .word {
  left: 50%;
  transform: translate(-50%, -10%);
}
.codetonic-textanimation-one {
  margin: 0;
}
.codetonic-textanimation-one .container {
  margin: 1rem;
  position: relative;
}
.codetonic-textanimation-one .container .word {
  text-rendering: optimizeLegibility!important;
  white-space: pre;
  opacity: 0;
  display: block;
  top: 0;
  position: absolute;
}
.codetonic-textanimation-one .letter {
  text-rendering: optimizeLegibility!important;
  display: inline-block;
  position: relative;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}
.codetonic-textanimation-one .letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.codetonic-textanimation-one .letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.codetonic-textanimation-one .letter.behind {
  transform: rotateX(-90deg);
}
/*
🐠🐠🐠🐠🐠
🐠🐠🐠🐠🐠

CODE + TONIC ANIMATED HEADING #1 
CSS

🐠🐠🐠🐠🐠
🐠🐠🐠🐠🐠

*/
section[data-section-id="630906727a98a14798f4b3f4"] .sqs-block-image .design-layout-fluid img {
  width: 80% !important;
  margin-left: 10%;
  /*
  @black: #1C1D1E;
@white: #FFFFFF;
@lightGrey: #EEF0F2; 
@darkGrey: #A6A6A6;

//Brand Colors
var(--clinical-purple):#A37AF5; 
var(--strategy-lightblue): #5BCFFF;
var(--regulatory-mintgreen):#49DAB0;
var(--ip-darkblue):#3A6DF5;
var(--health-economics-brightpink): #FF9FF2;
  */
}
#block-yui_3_17_2_1_1661536994504_107859 {
  filter: invert(55%) sepia(51%) saturate(4343%) hue-rotate(226deg) brightness(106%) contrast(92%) !important;
}
#block-yui_3_17_2_1_1661504512609_911651 {
  filter: invert(77%) sepia(35%) saturate(3485%) hue-rotate(172deg) brightness(104%) contrast(102%);
}
#block-yui_3_17_2_1_1661536994504_24312 {
  filter: invert(78%) sepia(58%) saturate(432%) hue-rotate(102deg) brightness(87%) contrast(95%);
}
#block-yui_3_17_2_1_1661504512609_1016720 {
  filter: invert(39%) sepia(50%) saturate(2788%) hue-rotate(211deg) brightness(92%) contrast(110%);
}
#block-yui_3_17_2_1_1661504512609_1087339 {
  filter: invert(96%) sepia(51%) saturate(3731%) hue-rotate(273deg) brightness(97%) contrast(108%);
}
h2 + p.sqsrte-large,
h1 + p.sqsrte-large {
  max-width: 500px;
  margin: auto;
  margin-top: -17px !important;
  margin-left: auto;
  margin-right: auto;
}
h4 + p {
  margin-top: -26px !important;
}
p {
  letter-spacing: -0.01em;
}
.sqsrte-large {
  line-height: 1.5 !important;
}
h2 {
  line-height: 1.15 !important;
}
section[data-section-id="630906727a98a14798f4b3f4"] h4 {
  position: relative;
}
/*
section[data-section-id="630906727a98a14798f4b3f4"] h4{

  &:hover:before{
    width:20px;
    height:20px !important;
    top: 6px !important;
    left:-25px;
  }
  &:before {
    transition:0.5s all ease;
    content:"";
    position:absolute;
    left:-20px;
    top:12px;
    width:10px;
    height:10px;
    background:purple;
    border-radius:50%;
  
}
}


//regulatory 
#block-yui_3_17_2_1_1660233301342_179110 h4:before{
  background:var(--clinical-purple);
}

//clinical
#block-yui_3_17_2_1_1660233301342_153163 h4:before{
  background:var(--strategy-lightblue);
}

//IP
#block-yui_3_17_2_1_1660233301342_220277 h4:before{
  background:var(--regulatory-mintgreen);
}

#block-a78ba45834402982aeb1 h4:before{
  background:var(--ip-darkblue);
}

#block-yui_3_17_2_1_1660233301342_249459  h4:before{
  background:var(--health-economics-brightpink);
}*/
.sqs-is-page-editing section[data-section-id="630906727a98a14798f4b3f4"]:before {
  content: "ADMIN! THIS SECTION has custom CSS styling applied. ";
  opacity: 1;
  transition: 0.5s all ease;
  background: #ffc3c3;
  color: black;
  padding: 2px 6px;
  font-size: 9px;
  top: 17px !important;
  margin: 0;
  position: absolute;
  text-transform: uppercase;
  font-weight: 400;
  height: 20px;
  z-index: 99999999;
}
section[data-section-id="630906727a98a14798f4b3f4"] h4 a {
  display: inline-block;
  position: relative;
  text-decoration: none !important;
}
section[data-section-id="630906727a98a14798f4b3f4"] h4 a:hover:before {
  transform: scale(1.5);
}
section[data-section-id="630906727a98a14798f4b3f4"] h4 a:before {
  transition: 0.5s all ease;
  content: "";
  position: absolute;
  left: -18px;
  top: 7px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
section[data-section-id="630906727a98a14798f4b3f4"] h4 a[href*="clinical"]:before {
  background: var(--clinical-purple) !important;
}
section[data-section-id="630906727a98a14798f4b3f4"] h4 a[href*="strategy"]:before {
  background: var(--strategy-lightblue) !important;
}
section[data-section-id="630906727a98a14798f4b3f4"] h4 a[href*="regulatory"]:before {
  background: var(--regulatory-mintgreen) !important;
}
section[data-section-id="630906727a98a14798f4b3f4"] h4 a[href*="intellectual"]:before {
  background: var(--ip-darkblue) !important;
}
section[data-section-id="630906727a98a14798f4b3f4"] h4 a[href*="health-economics"]:before {
  background: var(--health-economics-brightpink) !important;
}
span.word:nth-of-type(1) {
  color: var(--clinical-purple) !important;
}
span.word:nth-of-type(2) {
  color: var(--strategy-lightblue) !important;
}
span.word:nth-of-type(3) {
  color: var(--regulatory-mintgreen) !important;
}
span.word:nth-of-type(4) {
  color: var(--ip-darkblue) !important;
}
span.word:nth-of-type(5) {
  color: var(--health-economics-brightpink) !important;
}
article p a,
.sqs-block-summary-v2 .summary-read-more-link,
.blog-more-link {
  color: var(--clinical-purple) !important;
}
#item-630e84b25139f15acd7bab4c .blog-item-author-profile-wrapper {
  display: none;
}
@media only screen and (max-width: 767px) {
  section[data-section-id="63110aa129f035f05a07ea5f"] h1 {
    font-size: 26px !important;
  }
}
section[data-section-id="63470e27c96c5945e6d186bb"] .section-background {
  background-image: url(https://static1.squarespace.com/static/62f5262a0b58c94a255a69ba/t/63069d8616ecd437bb459966/1661377926454/single+circle+-+pink+blue+gradient.png), url(https://static1.squarespace.com/static/62f5262a0b58c94a255a69ba/t/6306a10917e44f371c0c34c2/1661378825510/single+circle+-+green++blue+gradient.png);
  background-repeat: no-repeat, no-repeat;
  background-size: calc(22vw + 70px) auto;
  background-position: top calc(10vh + 20px) left calc(-120px + -2vw), bottom calc(10vh + 20px) right calc(-120px + -2vw);
}
.careers-blog-single .blog-item-meta-wrapper,
.careers-blog-single .item-pagination,
.careers-blog-single .blog-item-author-profile-wrapper {
  display: none !important;
}
.careers-blog-grid .blog-meta-section {
  display: none;
}
#collection-62f56477faacd1084a963b80 .summary-metadata-container {
  display: none;
}
.blog-item-wrapper .blog-meta-item,
.blog-item-wrapper .blog-meta-item a,
.blog-item-wrapper .blog-meta-item span,
.blog-item-wrapper .item-pagination-prev-next {
  font-size: 14px;
}
.sqs-block-html h4 a,
.fe-630906727a98a14798f4b3f3 a {
  background-image: unset;
}
.item-pagination-link .item-pagination-icon {
  padding-right: 12px;
}
.item-pagination-link--next .item-pagination-icon {
  padding-left: 12px;
}
.item-pagination-link--next .item-pagination-title {
  padding-left: 10px;
}
.item-pagination-link--prev .item-pagination-title {
  padding-right: 10px;
}
@media screen and (max-width: 767px) {
  .item-pagination--prev-next {
    padding: 3vw 3vw 3vw;
  }
}
/**/
/******
🏷️ TYPOGRAPHY
*******/
.sqs-block-summary-v2 .summary-excerpt p,
.sqs-block-summary-v2 .summary-excerpt ul,
.sqs-block-summary-v2 .summary-excerpt li {
  font-size: calc((1 - 1) * 1.2vw + 1rem);
  line-height: inherit !important;
}
.summary-title,
.blog-title,
.next-label,
.item-pagination-title {
  margin-bottom: 5px !important;
  font-weight: 700 !important;
  font-size: calc((1 - 1) * 1.2vw + 1rem) !important;
}
/*.blog-basic-grid .blog-categories, .blog-basic-grid .blog-author,*/
.blog-basic-grid .blog-date,
.summary-metadata-item--date,
.blog-meta-item--date * {
  font-weight: 600 !important;
  color: #1C1D1E !important;
  font-size: 10.9px !important;
  text-transform: uppercase !important;
  letter-spacing: 0.11em !important;
  opacity: 1 !important;
}
section[data-section-id="630906727a98a14798f4b3f4"] h4 {
  font-size: calc((1 - 1) * 1.2vw + 1rem) !important;
}
.heading-h1 {
  font-size: 20px !important;
}
@media (min-width: 767px) {
  .heading-h1 {
    font-size: 40px !important;
  }
}
.heading-h2 {
  font-size: 20px !important;
}
@media (min-width: 767px) {
  .heading-h2 {
    font-size: 40px !important;
  }
}
.heading-h3 {
  font-size: 20px !important;
}
@media (min-width: 767px) {
  .heading-h3 {
    font-size: 40px !important;
  }
}
.heading-h4 {
  font-size: 20px !important;
}
@media (min-width: 767px) {
  .heading-h4 {
    font-size: 40px !important;
  }
}
.body-copy-large {
  font-size: 20px !important;
}
@media (min-width: 767px) {
  .body-copy-large {
    font-size: 40px !important;
  }
}
.body-copy {
  font-size: 20px !important;
}
@media (min-width: 767px) {
  .body-copy {
    font-size: 40px !important;
  }
}
.meta-date {
  font-size: 20px !important;
}
@media (min-width: 767px) {
  .meta-date {
    font-size: 40px !important;
  }
}
.nav-label {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 500 !important;
  font-size: 14px !important;
}
@media (min-width: 767px) {
}
.header-nav-list a,
.header-nav-list {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 500 !important;
  font-size: 14px !important;
}
@media (min-width: 767px) {
}
.read-more {
  font-size: 20px !important;
}
@media (min-width: 767px) {
  .read-more {
    font-size: 40px !important;
  }
}
.active-nav-item-underline {
  background-image: linear-gradient(currentColor, currentColor);
  background-repeat: repeat-x;
  background-size: 1px 1px;
  background-position: 0 100%;
  background-position: 0 calc(100% - 0.1em);
}
.blog-meta-item--date span,
time.summary-metadata-item--date,
.blog-meta-primary time.blog-date {
  transition: 0.2s opacity ease;
  opacity: 0 !important;
}
html body #page .dateFormatted-and-ready-to-show,
.dateFormatted-and-ready-to-show * {
  opacity: 1 !important;
}
@media only screen and (max-width: 770px) {
  section[data-section-id="63345cfd93596d2af59dedad"] a:after {
    content: "\A" !important;
    white-space: pre !important;
  }
}
[data-section-id="63345cfd93596d2af59dedad"] {
  display: none;
}
section[data-section-id="63345cfd93596d2af59dedad"] p,
section[data-section-id="6389f6432a12130f5a0778ab"] p,
section[data-section-id="63936a7c3d674d7079783a93"] p {
  margin: 8px !important;
}
section[data-section-id="63345cfd93596d2af59dedad"] a,
section[data-section-id="6389f6432a12130f5a0778ab"] a,
section[data-section-id="63936a7c3d674d7079783a93"] a,
.blog-item-category-wrapper a,
.blog-categories-list a {
  line-height: 1 !important;
  position: relative;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  margin: 0 10px 10px;
  text-decoration: none;
  color: inherit !important;
  border: 1px solid black;
  border-radius: 100px;
  display: inline-block;
  padding: 5px 12px 6px 24px;
  font-size: 12px !important;
}
@media (min-width: 767px) {
}
section[data-section-id="63345cfd93596d2af59dedad"] a:before,
section[data-section-id="6389f6432a12130f5a0778ab"] a:before,
section[data-section-id="63936a7c3d674d7079783a93"] a:before,
.blog-item-category-wrapper a:before,
.blog-categories-list a:before {
  content: "";
  position: absolute;
  left: 11px;
  top: 8px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
section[data-section-id="63345cfd93596d2af59dedad"] a[href="/blog"]:before,
section[data-section-id="6389f6432a12130f5a0778ab"] a[href="/blog"]:before,
section[data-section-id="63936a7c3d674d7079783a93"] a[href="/blog"]:before,
.blog-item-category-wrapper a[href="/blog"]:before,
.blog-categories-list a[href="/blog"]:before {
  background: #1C1D1E;
}
section[data-section-id="63345cfd93596d2af59dedad"] a[href="/blog"].active-filter,
section[data-section-id="6389f6432a12130f5a0778ab"] a[href="/blog"].active-filter,
section[data-section-id="63936a7c3d674d7079783a93"] a[href="/blog"].active-filter,
.blog-item-category-wrapper a[href="/blog"].active-filter,
.blog-categories-list a[href="/blog"].active-filter,
section[data-section-id="63345cfd93596d2af59dedad"] a[href="/blog"]:hover,
section[data-section-id="6389f6432a12130f5a0778ab"] a[href="/blog"]:hover,
section[data-section-id="63936a7c3d674d7079783a93"] a[href="/blog"]:hover,
.blog-item-category-wrapper a[href="/blog"]:hover,
.blog-categories-list a[href="/blog"]:hover {
  background: #1C1D1E;
  color: #FFFFFF !important;
}
section[data-section-id="63345cfd93596d2af59dedad"] a[href="/blog"].active-filter:before,
section[data-section-id="6389f6432a12130f5a0778ab"] a[href="/blog"].active-filter:before,
section[data-section-id="63936a7c3d674d7079783a93"] a[href="/blog"].active-filter:before,
.blog-item-category-wrapper a[href="/blog"].active-filter:before,
.blog-categories-list a[href="/blog"].active-filter:before,
section[data-section-id="63345cfd93596d2af59dedad"] a[href="/blog"]:hover:before,
section[data-section-id="6389f6432a12130f5a0778ab"] a[href="/blog"]:hover:before,
section[data-section-id="63936a7c3d674d7079783a93"] a[href="/blog"]:hover:before,
.blog-item-category-wrapper a[href="/blog"]:hover:before,
.blog-categories-list a[href="/blog"]:hover:before {
  background: #FFFFFF;
}
section[data-section-id="63345cfd93596d2af59dedad"] a[href*="Clinical"],
section[data-section-id="6389f6432a12130f5a0778ab"] a[href*="Clinical"],
section[data-section-id="63936a7c3d674d7079783a93"] a[href*="Clinical"],
.blog-item-category-wrapper a[href*="Clinical"],
.blog-categories-list a[href*="Clinical"] {
  border: 1px solid var(--clinical-purple) !important;
}
section[data-section-id="63345cfd93596d2af59dedad"] a[href*="Clinical"]:before,
section[data-section-id="6389f6432a12130f5a0778ab"] a[href*="Clinical"]:before,
section[data-section-id="63936a7c3d674d7079783a93"] a[href*="Clinical"]:before,
.blog-item-category-wrapper a[href*="Clinical"]:before,
.blog-categories-list a[href*="Clinical"]:before {
  background: var(--clinical-purple);
}
section[data-section-id="63345cfd93596d2af59dedad"] a[href*="Clinical"].active-filter,
section[data-section-id="6389f6432a12130f5a0778ab"] a[href*="Clinical"].active-filter,
section[data-section-id="63936a7c3d674d7079783a93"] a[href*="Clinical"].active-filter,
.blog-item-category-wrapper a[href*="Clinical"].active-filter,
.blog-categories-list a[href*="Clinical"].active-filter,
section[data-section-id="63345cfd93596d2af59dedad"] a[href*="Clinical"]:hover,
section[data-section-id="6389f6432a12130f5a0778ab"] a[href*="Clinical"]:hover,
section[data-section-id="63936a7c3d674d7079783a93"] a[href*="Clinical"]:hover,
.blog-item-category-wrapper a[href*="Clinical"]:hover,
.blog-categories-list a[href*="Clinical"]:hover {
  background: var(--clinical-purple);
  color: #FFFFFF !important;
}
section[data-section-id="63345cfd93596d2af59dedad"] a[href*="Clinical"].active-filter:before,
section[data-section-id="6389f6432a12130f5a0778ab"] a[href*="Clinical"].active-filter:before,
section[data-section-id="63936a7c3d674d7079783a93"] a[href*="Clinical"].active-filter:before,
.blog-item-category-wrapper a[href*="Clinical"].active-filter:before,
.blog-categories-list a[href*="Clinical"].active-filter:before,
section[data-section-id="63345cfd93596d2af59dedad"] a[href*="Clinical"]:hover:before,
section[data-section-id="6389f6432a12130f5a0778ab"] a[href*="Clinical"]:hover:before,
section[data-section-id="63936a7c3d674d7079783a93"] a[href*="Clinical"]:hover:before,
.blog-item-category-wrapper a[href*="Clinical"]:hover:before,
.blog-categories-list a[href*="Clinical"]:hover:before {
  background: #FFFFFF;
}
section[data-section-id="63345cfd93596d2af59dedad"] a[href*="trategy"],
section[data-section-id="6389f6432a12130f5a0778ab"] a[href*="trategy"],
section[data-section-id="63936a7c3d674d7079783a93"] a[href*="trategy"],
.blog-item-category-wrapper a[href*="trategy"],
.blog-categories-list a[href*="trategy"] {
  border: 1px solid var(--strategy-lightblue) !important;
}
section[data-section-id="63345cfd93596d2af59dedad"] a[href*="trategy"]:before,
section[data-section-id="6389f6432a12130f5a0778ab"] a[href*="trategy"]:before,
section[data-section-id="63936a7c3d674d7079783a93"] a[href*="trategy"]:before,
.blog-item-category-wrapper a[href*="trategy"]:before,
.blog-categories-list a[href*="trategy"]:before {
  background: var(--strategy-lightblue);
}
section[data-section-id="63345cfd93596d2af59dedad"] a[href*="trategy"].active-filter,
section[data-section-id="6389f6432a12130f5a0778ab"] a[href*="trategy"].active-filter,
section[data-section-id="63936a7c3d674d7079783a93"] a[href*="trategy"].active-filter,
.blog-item-category-wrapper a[href*="trategy"].active-filter,
.blog-categories-list a[href*="trategy"].active-filter,
section[data-section-id="63345cfd93596d2af59dedad"] a[href*="trategy"]:hover,
section[data-section-id="6389f6432a12130f5a0778ab"] a[href*="trategy"]:hover,
section[data-section-id="63936a7c3d674d7079783a93"] a[href*="trategy"]:hover,
.blog-item-category-wrapper a[href*="trategy"]:hover,
.blog-categories-list a[href*="trategy"]:hover {
  background: var(--strategy-lightblue);
  color: #FFFFFF !important;
}
section[data-section-id="63345cfd93596d2af59dedad"] a[href*="trategy"].active-filter:before,
section[data-section-id="6389f6432a12130f5a0778ab"] a[href*="trategy"].active-filter:before,
section[data-section-id="63936a7c3d674d7079783a93"] a[href*="trategy"].active-filter:before,
.blog-item-category-wrapper a[href*="trategy"].active-filter:before,
.blog-categories-list a[href*="trategy"].active-filter:before,
section[data-section-id="63345cfd93596d2af59dedad"] a[href*="trategy"]:hover:before,
section[data-section-id="6389f6432a12130f5a0778ab"] a[href*="trategy"]:hover:before,
section[data-section-id="63936a7c3d674d7079783a93"] a[href*="trategy"]:hover:before,
.blog-item-category-wrapper a[href*="trategy"]:hover:before,
.blog-categories-list a[href*="trategy"]:hover:before {
  background: #FFFFFF;
}
section[data-section-id="63345cfd93596d2af59dedad"] a[href*="egulat"],
section[data-section-id="6389f6432a12130f5a0778ab"] a[href*="egulat"],
section[data-section-id="63936a7c3d674d7079783a93"] a[href*="egulat"],
.blog-item-category-wrapper a[href*="egulat"],
.blog-categories-list a[href*="egulat"] {
  border: 1px solid var(--regulatory-mintgreen) !important;
}
section[data-section-id="63345cfd93596d2af59dedad"] a[href*="egulat"]:before,
section[data-section-id="6389f6432a12130f5a0778ab"] a[href*="egulat"]:before,
section[data-section-id="63936a7c3d674d7079783a93"] a[href*="egulat"]:before,
.blog-item-category-wrapper a[href*="egulat"]:before,
.blog-categories-list a[href*="egulat"]:before {
  background: var(--regulatory-mintgreen);
}
section[data-section-id="63345cfd93596d2af59dedad"] a[href*="egulat"].active-filter,
section[data-section-id="6389f6432a12130f5a0778ab"] a[href*="egulat"].active-filter,
section[data-section-id="63936a7c3d674d7079783a93"] a[href*="egulat"].active-filter,
.blog-item-category-wrapper a[href*="egulat"].active-filter,
.blog-categories-list a[href*="egulat"].active-filter,
section[data-section-id="63345cfd93596d2af59dedad"] a[href*="egulat"]:hover,
section[data-section-id="6389f6432a12130f5a0778ab"] a[href*="egulat"]:hover,
section[data-section-id="63936a7c3d674d7079783a93"] a[href*="egulat"]:hover,
.blog-item-category-wrapper a[href*="egulat"]:hover,
.blog-categories-list a[href*="egulat"]:hover {
  background: var(--regulatory-mintgreen);
  color: #FFFFFF !important;
}
section[data-section-id="63345cfd93596d2af59dedad"] a[href*="egulat"].active-filter:before,
section[data-section-id="6389f6432a12130f5a0778ab"] a[href*="egulat"].active-filter:before,
section[data-section-id="63936a7c3d674d7079783a93"] a[href*="egulat"].active-filter:before,
.blog-item-category-wrapper a[href*="egulat"].active-filter:before,
.blog-categories-list a[href*="egulat"].active-filter:before,
section[data-section-id="63345cfd93596d2af59dedad"] a[href*="egulat"]:hover:before,
section[data-section-id="6389f6432a12130f5a0778ab"] a[href*="egulat"]:hover:before,
section[data-section-id="63936a7c3d674d7079783a93"] a[href*="egulat"]:hover:before,
.blog-item-category-wrapper a[href*="egulat"]:hover:before,
.blog-categories-list a[href*="egulat"]:hover:before {
  background: #FFFFFF;
}
section[data-section-id="63345cfd93596d2af59dedad"] a[href*="ntellectual"],
section[data-section-id="6389f6432a12130f5a0778ab"] a[href*="ntellectual"],
section[data-section-id="63936a7c3d674d7079783a93"] a[href*="ntellectual"],
.blog-item-category-wrapper a[href*="ntellectual"],
.blog-categories-list a[href*="ntellectual"] {
  border: 1px solid var(--ip-darkblue) !important;
}
section[data-section-id="63345cfd93596d2af59dedad"] a[href*="ntellectual"]:before,
section[data-section-id="6389f6432a12130f5a0778ab"] a[href*="ntellectual"]:before,
section[data-section-id="63936a7c3d674d7079783a93"] a[href*="ntellectual"]:before,
.blog-item-category-wrapper a[href*="ntellectual"]:before,
.blog-categories-list a[href*="ntellectual"]:before {
  background: var(--ip-darkblue);
}
section[data-section-id="63345cfd93596d2af59dedad"] a[href*="ntellectual"].active-filter,
section[data-section-id="6389f6432a12130f5a0778ab"] a[href*="ntellectual"].active-filter,
section[data-section-id="63936a7c3d674d7079783a93"] a[href*="ntellectual"].active-filter,
.blog-item-category-wrapper a[href*="ntellectual"].active-filter,
.blog-categories-list a[href*="ntellectual"].active-filter,
section[data-section-id="63345cfd93596d2af59dedad"] a[href*="ntellectual"]:hover,
section[data-section-id="6389f6432a12130f5a0778ab"] a[href*="ntellectual"]:hover,
section[data-section-id="63936a7c3d674d7079783a93"] a[href*="ntellectual"]:hover,
.blog-item-category-wrapper a[href*="ntellectual"]:hover,
.blog-categories-list a[href*="ntellectual"]:hover {
  background: var(--ip-darkblue);
  color: #FFFFFF !important;
}
section[data-section-id="63345cfd93596d2af59dedad"] a[href*="ntellectual"].active-filter:before,
section[data-section-id="6389f6432a12130f5a0778ab"] a[href*="ntellectual"].active-filter:before,
section[data-section-id="63936a7c3d674d7079783a93"] a[href*="ntellectual"].active-filter:before,
.blog-item-category-wrapper a[href*="ntellectual"].active-filter:before,
.blog-categories-list a[href*="ntellectual"].active-filter:before,
section[data-section-id="63345cfd93596d2af59dedad"] a[href*="ntellectual"]:hover:before,
section[data-section-id="6389f6432a12130f5a0778ab"] a[href*="ntellectual"]:hover:before,
section[data-section-id="63936a7c3d674d7079783a93"] a[href*="ntellectual"]:hover:before,
.blog-item-category-wrapper a[href*="ntellectual"]:hover:before,
.blog-categories-list a[href*="ntellectual"]:hover:before {
  background: #FFFFFF;
}
section[data-section-id="63345cfd93596d2af59dedad"] a[href*="ealth"],
section[data-section-id="6389f6432a12130f5a0778ab"] a[href*="ealth"],
section[data-section-id="63936a7c3d674d7079783a93"] a[href*="ealth"],
.blog-item-category-wrapper a[href*="ealth"],
.blog-categories-list a[href*="ealth"] {
  border: 1px solid var(--health-economics-brightpink) !important;
}
section[data-section-id="63345cfd93596d2af59dedad"] a[href*="ealth"]:before,
section[data-section-id="6389f6432a12130f5a0778ab"] a[href*="ealth"]:before,
section[data-section-id="63936a7c3d674d7079783a93"] a[href*="ealth"]:before,
.blog-item-category-wrapper a[href*="ealth"]:before,
.blog-categories-list a[href*="ealth"]:before {
  background: var(--health-economics-brightpink);
}
section[data-section-id="63345cfd93596d2af59dedad"] a[href*="ealth"].active-filter,
section[data-section-id="6389f6432a12130f5a0778ab"] a[href*="ealth"].active-filter,
section[data-section-id="63936a7c3d674d7079783a93"] a[href*="ealth"].active-filter,
.blog-item-category-wrapper a[href*="ealth"].active-filter,
.blog-categories-list a[href*="ealth"].active-filter,
section[data-section-id="63345cfd93596d2af59dedad"] a[href*="ealth"]:hover,
section[data-section-id="6389f6432a12130f5a0778ab"] a[href*="ealth"]:hover,
section[data-section-id="63936a7c3d674d7079783a93"] a[href*="ealth"]:hover,
.blog-item-category-wrapper a[href*="ealth"]:hover,
.blog-categories-list a[href*="ealth"]:hover {
  background: var(--health-economics-brightpink);
  color: #FFFFFF !important;
}
section[data-section-id="63345cfd93596d2af59dedad"] a[href*="ealth"].active-filter:before,
section[data-section-id="6389f6432a12130f5a0778ab"] a[href*="ealth"].active-filter:before,
section[data-section-id="63936a7c3d674d7079783a93"] a[href*="ealth"].active-filter:before,
.blog-item-category-wrapper a[href*="ealth"].active-filter:before,
.blog-categories-list a[href*="ealth"].active-filter:before,
section[data-section-id="63345cfd93596d2af59dedad"] a[href*="ealth"]:hover:before,
section[data-section-id="6389f6432a12130f5a0778ab"] a[href*="ealth"]:hover:before,
section[data-section-id="63936a7c3d674d7079783a93"] a[href*="ealth"]:hover:before,
.blog-item-category-wrapper a[href*="ealth"]:hover:before,
.blog-categories-list a[href*="ealth"]:hover:before {
  background: #FFFFFF;
}
a.blog-categories {
  font-size: 9px !important;
  padding: 3px 7px 3px 16px;
  margin: 0 !important;
}
a.blog-categories:before {
  left: 8px !important;
  top: 6px;
  width: 4px;
  height: 4px;
}
.blog-item-tag-wrapper {
  padding: 6px 0px;
  display: inline-block;
}
span.category-count {
  font-size: 11px;
  font-weight: 400;
}
.tweak-blog-item-delimiter-bullet .blog-item-wrapper .blog-item-category-wrapper:not(:last-child)::after,
.tweak-blog-item-delimiter-bullet .blog-item-wrapper .blog-item-tag-wrapper:not(:last-child)::after {
  content: none;
}
/*BLOG SUBNAVIGATION TAGS / KEY VERTICALS ALTERNATIVE STYLE - pills / labels*/
/*
section[data-section-id="63345cfd93596d2af59dedad"] a,
.blog-meta-item--tags a{
    &.active-filter, &:hover{
        .active-nav-item-underline()
    }
    position:relative;
//    .nav-label();
    display:inline-block;
  padding: 1px 10px 1px 30px;
  border: 1px solid;
  border-radius:30px;
  font-size:12px !important;
    margin:0 10px ;
    text-decoration:none;
    color: inherit !important;
    &:before{
     content:"";
    position:absolute;
    left:17px;
    top:7px;
    width:8px;
    height:8px;
    border-radius:50%;
  }
   &[href="/blog"]{
     color:@black;
&:before{
    background:@black;
     }}
  
   &[href*="Clinical"]:before{
    background:var(--clinical-purple);
  }
  
  &[href*="trategy"]:before{
    background:var(--strategy-lightblue);
  }
  &[href*="egulat"]:before{
    background:var(--regulatory-mintgreen);
  }
  &[href*="ntellectual"]:before{
    background:var(--ip-darkblue);
  }
  &[href*="ealth"]:before{
    background:var(--health-economics-brightpink);
  }
  }
*/
.GTM-hidden-field-hide {
  display: none;
}
.blog-basic-grid--container .image-wrapper {
  display: none;
}
.blog-basic-grid .blog-basic-grid--container {
  opacity: 1 !important;
}
.blog-categories-list a,
.blog-categories--comma {
  display: none;
}
.blog-categories-list a:first-of-type {
  display: inline-block;
}
.blog-category-filtered .blog-categories-list a:first-of-type {
  display: none;
}
.blog-category-filtered .blog-post-category-current-filter {
  display: inline-block !important;
}
/*.blog-meta-item.blog-meta-item--categories,*/
.blog-meta-item--tags {
  display: none !important;
}
/*

DOMAIN JOTTA FONTIT: ;
/config/settings/domains ➡️ https://macbook-pro.local:5757

*/
/*
🟪
🟪
🟪
🟩
🟩
🟩
SERVIES PORTFOLIO SUBPAGE SKETCHING

*/
/*

.sqs-block-content, .line{
  height:100%;
}
.line{
  position:relative;
   background:black;
  width: 1px;
  left:50%;
}
*/
#gridThumbs {
  overflow: hidden;
  position: relative;
  padding-left: 40px;
  /*
  &:after{
    display:block;
    position:absolute;
    content:"";
    width:1px;
    left:50%;
    height:100% !important;
    background:black;
  }
  */
  max-width: 500px;
  display: flex;
  flex-direction: column;
  /*
I need an excerpt for heading: "Risk Classification"

context: It's regarding clinical, research and medical affairs support throughout the life cycle of an AI or healthtech product - SAMD. This is on of the required pre-market steps. Write 200 character snippet for the heading explaining in very simple terms what this means.
//Risk Classification: The process of determining the risk level of a medical device or AI product. The risk level is determined by the potential harm that the product may cause to the patient or user. The risk level is used to determine the level of clinical evidence required to support the product.


// add exceprt for "PICO" as the next heading.
//PICO: An acronym for the four elements of a clinical question: Population, Intervention, Comparison, Outcome. The PICO elements are used to formulate a clinical question that can be answered by a clinical trial or other research study. The PICO elements are used to formulate a clinical question that can be answered by a clinical trial or other research study.

// same for "Pathway validation"
//Pathway validation: The process of validating the clinical pathway for a medical device or AI product. The clinical pathway is the process of how the product will be used in the clinical setting. The clinical pathway is validated by conducting a clinical trial or other research study.


// same for these headings:
Medical Device File Design 
Evidence review
Clinical Evaluation Plan
and
Literature Review


// Medical Device File Design: The process of designing the medical device file for a medical device or AI product. The medical device file is the documentation that is submitted to the regulatory authority to support the product. The medical device file is designed by conducting a clinical trial or other research study.

//evidece review: The process of reviewing the evidence to support a medical device or AI product. The evidence is reviewed to determine the level of clinical evidence required to support the product. The evidence is reviewed by conducting a clinical trial or other research study.

//clinical evaluation plan: The process of designing the clinical evaluation plan for a medical device or AI product. The clinical evaluation plan is the documentation that is submitted to the regulatory authority to support the product. The clinical evaluation plan is designed by conducting a clinical trial or other research study.

//Literature Review: The process of reviewing the literature to support a medical device or AI product. The literature is reviewed to determine the level of clinical evidence required to support the product. The literature is reviewed by conducting a clinical trial or other research study.

*/
}
#gridThumbs .grid-image {
  display: none;
}
#gridThumbs h2 {
  width: 100%;
  margin-left: -20px !important;
  z-index: 10;
  background-color: var(--neutral-white);
}
#gridThumbs .grid-item {
  box-sizing: border-box;
  margin: 0;
  border-left: 1px solid;
  border-color: #cecece !important;
  padding: 28px 0px 28px 40px;
  position: relative;
  --sizeandleft: 4px;
}
#gridThumbs .grid-item .portfolio-text {
  margin-left: 20px;
}
#gridThumbs .grid-item:hover .number {
  transform: scale(1.06);
  transform-origin: center center;
}
#gridThumbs .grid-item:hover .portfolio-text {
  transform: translateX(6px);
  transform: none !important;
}
#gridThumbs .grid-item:hover .arrow {
  transform: translateX(8px);
}
#gridThumbs .grid-item:hover .pofo-readmore {
  transform: translateX(8px);
}
#gridThumbs .grid-item * {
  transition: 0.3s all ease;
}
#gridThumbs .grid-item:before {
  box-sizing: border-box;
  content: "";
  position: absolute;
  left: calc(-1 * var(--sizeandleft) - 0.5px);
  top: 50%;
  width: calc(2 * var(--sizeandleft));
  aspect-ratio: 1;
  border-radius: 100%;
  background: var(--clinical-purple);
}
#gridThumbs .grid-item .portfolio-title {
  margin: 0 0 4px 0 !important;
  font-weight: 700;
}
#gridThumbs .grid-item .seo-description {
  font-size: 16px;
  line-height: 1.4;
  margin: 0 !important;
}
#gridThumbs .grid-item .seo-description .pofo-readmore {
  display: block;
  margin-top: 16px;
  font-size: 14px;
  content: "Read more →";
  color: var(--clinical-purple) !important;
  font-weight: 600;
  text-transform: uppercase !important;
  font-size: 11px !important;
  letter-spacing: 0.05em;
  transition: 0.3s all ease;
  position: relative;
  left: 0;
}
#gridThumbs .grid-item .seo-description .pofo-readmore .arrow {
  display: inline-block;
}
#gridThumbs .grid-item .number {
  --timeline-number-size: 58px;
  width: var(--timeline-number-size);
  line-height: var(--timeline-number-size);
  left: calc( (var(--timeline-number-size) * -0.5) - 3px);
  z-index: 10;
  transition: 0.2s all ease;
  position: absolute;
  background: var(--neutral-white);
  top: calc(50% - 32px);
  font-weight: bold;
  text-align: center;
  color: var(--clinical-purple) !important;
  border: 2px solid transparent !important;
  border-radius: 100%;
  font-size: 22px !important;
}
#gridThumbs .grid-item .number.number-overlap {
  border: 2px solid var(--clinical-purple) !important;
}
/*
    .grid-item[href*="post"] {
      //background:red;
      &:before{
        content:"Post-Market";
        font-size: 38px;
        font-weight:bold;
        margin-bottom:70px;
      }
    }


    .grid-item[href*="post"] ~ .grid-item[href*="post"] {
      // background:blue;
      &:before{
        display:none;
      }
        // Reverse the above rule 
    }


    .grid-item[href*="pre"]{
    //  background:green;
      &:before{
        font-size: 38px;
        font-weight:bold;
        margin-bottom:70px;
      }
    }

    .grid-item[href*="pre"] ~ .grid-item[href*="pre"] {
    //    background:blue;
      &:before{
        display:none;
      }
        // Reverse the above rule 
    }
*/
.tube-item-vertical-line {
  transition: none !important;
  background: var(--clinical-purple) !important;
  height: 0;
  position: absolute;
  width: 1px;
  left: -1px;
  top: 0;
  z-index: 5;
  width: 2px;
  left: -1.5px;
}
/*END 
🟪
🟪
🟪
🟩
🟩
🟩
SERVIES PORTFOLIO SUBPAGE SKETCHING
*/
